:root {
    --white: rgba(255, 255, 255, 0.8);
    --dark-tint: rgba(0, 0, 0, 0.83);
}
/* chrome scrollbar */
/* main scrollbar & horizontal scrollbar */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(60, 60, 60);
    transition: 0.2s;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(40, 40, 40);
    border-radius: 10px;
    animation: chrome-scroll 5s;
}
/* main scrollbar */
body::-webkit-scrollbar-track {
    background-color: black;
}
/* horizontal scrollbar */
::-webkit-scrollbar-track {
    background-color: var(--dark-tint);
}
@keyframes chrome-scroll {
    from { background-color: transparent; }
    to { background-color: rgb(40, 40, 40); }
}
/* 2nd vertical scrollbar */
.guide-container::-webkit-scrollbar-thumb, .guide-container::-webkit-scrollbar-track {
    background-color: transparent;
}
html {
    /* mozilla scrollbar */
    scrollbar-color: rgb(50, 50, 50) black;
    scrollbar-width: thin;
}
body {
    background-image: url("../img/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--white);
}
#cover {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: black;
}
.fade { animation: fade 1s; }
@keyframes fade {
    from { opacity: 1; }
    to { opacity: 0; }
}
#progress-bar {
    width: 50%;
    height: 5px;
    background-color: #222;
}
#meter {
    width: 0;
    height: 5px;
    background-color: gray;
    border-radius: 5px;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
@media only screen and (max-height: 1100px) {
    header {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
header p {
    margin: 20px auto 10px auto;
    font-style: italic;
}
header a {
    color: var(--white);
    font-size: 12px;
}
header h1, header p, header a {
    animation: headeranim 5s;
}
@keyframes headeranim {
    from { color: transparent; }
    to { color: var(--white); }
}
footer {
    flex-grow: 2;
    background: linear-gradient(0deg, rgba(0,0,0,0.75) 0%, rgb(0, 0, 0) 100%);
}
header, main {
    background-color: var(--dark-tint);
}
h1 {
    font-size: 4em;
    letter-spacing: 10px;
    text-align: center;
    text-transform: uppercase;
}
#coll-container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-color: rgba(20, 20, 20, 0.8) black;
    scrollbar-width: thin;
    animation: moz-scroll 20s;
}
@keyframes moz-scroll {
    from { scrollbar-color: transparent black; }
    to { scrollbar-color: rgba(20, 20, 20, 0.8) black; }
}
.collapsible {
    display: inline-block;
    position: relative;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    min-width: 100px;
    max-width: 100px;
    padding: 0;
}
.hidden { opacity: 0 !important; }
.fade-in-up { animation: fadeinup 2s; }
.fade-in-down { animation: fadeindown 2s; }
@keyframes fadeinup {
    from { transform: translateY(100px); opacity: 0; }
    to {  transform: translateY(0px); opacity: 1; }
}
@keyframes fadeindown {
    from {  transform: translateY(-100px);  opacity: 0; }
    to {  transform: translateY(0px); opacity: 1; }
}
.collapsible div:nth-child(1) {
    box-shadow: inset 0 -800px 800px -500px rgba(0, 0, 0, 0.8);
    background-size: cover;
    filter: brightness(35%);
    transition: 0.2s;
    height: 800px;
    width: 100px;
}
.collapsible:hover div:nth-child(1) {
    filter: brightness(70%);
    transition: 0.2s;
    color: white;
}
.main-name {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.vertical-text {
    font-family: 'Raleway';
    writing-mode: vertical-lr;
    text-orientation: upright;
    text-transform: uppercase;
    letter-spacing: 8px;
    color: rgba(255, 255, 255, 0.7);
}
.guide-container {
    scrollbar-color: transparent transparent;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: 0.3s ease;
    padding-top: 10px;
    width: 0px;
    min-width: 0px;
    max-height: 790px;
}
h2 {
    font-size: 40px;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 10px;
}
h3 {
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
    line-height: 40px;
}
h4 {
    font-size: 12px;
    margin-bottom: 10px;
}
.rating {
    font-style: italic;
    margin-bottom: 2px;
}
.show-hide {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
    transition: opacity 1s;
}
.rec-signets {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-bottom: 10px;
}
.signet {
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.8;
}
.anchor-container {
    display: flex;
    flex-direction: row;
}
.anchor {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(78, 78, 78, 0.2);
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 20px;
    color: var(--white);
}
.link-spanner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.sig-tog {
    width: 32px;
    height: 32px;
}
.sig-sep {
    width: 40px;
    height: 40px;
}
.signet label {
    padding-top: 40px;
    font-size: 10px;
}
/* signets images */
.aponia     { background-image: url("../img/signets/Aponia_Signet.png"); }
.eden       { background-image: url("../img/signets/Eden_Signet.png"); }
.griseo     { background-image: url("../img/signets/Griseo_Signet.png"); }
.hua        { background-image: url("../img/signets/Hua_Signet.png"); }
.kalpas     { background-image: url("../img/signets/Kalpas_Signet.png"); }
.kevin      { background-image: url("../img/signets/Kevin_Signet.png"); }
.kosma      { background-image: url("../img/signets/Kosma_Signet.png"); }
.mobius     { background-image: url("../img/signets/Mobius_Signet.png"); }
.pardofelis { background-image: url("../img/signets/Pardofelis_Signet.png"); }
.sakura     { background-image: url("../img/signets/Sakura_Signet.png"); }
.su         { background-image: url("../img/signets/Su_Signet.png"); }
.vill-v     { background-image: url("../img/signets/Vill-V_Signet.png"); }
th, td {
    text-align: center;
    vertical-align: middle;
    background-size: cover;
    background-position: center;
}
th {
    font-size: 20px;
}
tr {
    height: 50px;
    border-bottom: 1px solid var(--white);
}
tr:last-child:not(thead tr) {
    border-bottom: unset;
}
.table-cell-hover {
    background-color: var(--white);
    color: black;
}
.noted {
    background-color: rgba(70, 70, 70, 0.5);
}
.tbl {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}
.emblem, .supp {
    display: flex;
    justify-content: center;
    width: 100%;
}
.emblem table, .supp table {
    width: 90%;
}
.exclusive-tbl, .main-tbl, .secondary-tbl, .transitional-tbl {
    width: 50%;
    min-width: 90%;
}
.main-tbl th:nth-child(1), .secondary-tbl th:nth-child(1), .transitional-tbl th:nth-child(1) {
    width: 20%;
}
.supp {
    margin-top: 10px;
}
.supp td:nth-child(1) {
    width: 20%;
}
.supp td:nth-child(n+2):nth-child(-n+5) {
    color: transparent;
    transition: 0.3s ease;
}
.supp td:nth-child(n+2):nth-child(-n+5):hover {
    color: var(--white);
    transition: 0.2s ease-in;
}
.supp .pic {
    cursor: pointer;
    background-size: cover;
    background-position: center;
    height: 50px;
}
.pos-relative {
    position: relative;
}
/* valk support images */
.supp .ae    { background-image: url("../img/avatars/Azure_Empyrea_Avatar.png"); }
.supp .bke   { background-image: url("../img/avatars/Bright_Knight_Excelsis_Avatar.png"); }
.supp .br    { background-image: url("../img/avatars/Blood_Rose_Avatar.png"); }
.supp .dp    { background-image: url("../img/avatars/Divine_Prayer_Avatar.png"); }
.supp .hb    { background-image: url("../img/avatars/Haxxor_Bunny_Avatar.png"); }
.supp .le    { background-image: url("../img/avatars/Lightning_Empress_Avatar.png"); }
.supp .ma    { background-image: url("../img/avatars/Midnight_Absinthe_Avatar.png"); }
.supp .rc    { background-image: url("../img/avatars/Reverist_Calico_Avatar.png"); }
.supp .ss    { background-image: url("../img/avatars/Snowy_Sniper_Avatar.png"); }
.supp .vc    { background-image: url("../img/avatars/Valkyrie_Chariot_Avatar.png"); }
.tooltip {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    transform: translateY(-50px);
}
.tooltip p {
    transform: translateY(18px);
    height: 25px;
}
.tooltip span {
    position: absolute;
    visibility: hidden;
    text-align: center;
    background-color: rgb(34, 34, 34);
    color: var(--white);
    font-size: 12px;
    width: 80px;
    padding: 5px 0;
    border-radius: 6px;
    opacity: 0;
    transition: opacity 0.2s;
    z-index: 1;
    transform: translateY(-20px);
}
.tooltip input {
    position: absolute;
    appearance: none;
    cursor: pointer;
    width: 100%;
    height: 50px;
}
.tooltip input:checked + span {
    visibility: visible;
    opacity: 1;
}
.notes {
    margin-top: 20px;
    padding: 20px;
    width: 85%;
    font-size: 14px;
    line-height: 20px;
}
.notes p {
    font-weight: bold;
}
.notes span {
    font-style: italic;
}
.notes:hover {
    background-color: var(--white);
    color: black;
}
#goToTop {
    visibility: hidden;
    position: fixed;
    cursor: pointer;
    bottom: 10px;
    right: 10px;
    border: none;
    border-radius: 50%;
    outline: none;
    background-color: rgb(60, 60, 60);
    color: rgba(255, 255, 255, 0.8);
    width: 50px;
    height: 50px;
    padding-top: 5px;
}
#goToTop .material-icons {
    font-size: 35px;
}
#goToTop:hover {
    background-color: rgba(60, 60, 60, 0.8);
}
/* accordion images */
#aka {
    background-image: url("../img/valks/Argent_Knight_Artemis.png");
    background-position: 57%;
}
#bke {
    background-image: url("../img/valks/Bright_Knight_Excelsis.png");
    background-position: 50%;
}
#carole {
    background-image: url("../img/valks/Swwet_n_Spicy.png");
    background-position: 51.4%;
}
#da {
    background-image: url("../img/valks/Dea_Anchora.png");
    background-position: 52.7%;
}
#elysia {
    background-image: url("../img/valks/Miss_Pink_Elf.png");
    background-position: 52%;
}
#fr {
    background-image: url("../img/valks/Fallen_Rosemary.png");
    background-position: 56.2%;
}
#fischl {
    background-image: url("../img/valks/Prinzessin_der_Verurteilung.png");
    background-position: 57%;
}
#hofs {
    background-image: url("../img/valks/Herrscher_of_Flamescion.png");
    background-position: 53.7%;
}
#hor {
    background-image: url("../img/valks/Herrscher_of_Reason.png");
    background-position: 54.1%;
}
#hos {
    background-image: url("../img/valks/Herrscher_of_Sentience.png");
    background-position: 51.2%;
}
#hot {
    background-image: url("../img/valks/Herrscher_of_Thunder.png");
    background-position: 57%;
}
#lk {
    background-image: url("../img/valks/Luna_Kindred.png");
    background-position: 44.8%;
}
#mobius {
    background-image: url("../img/valks/Infinite_Ouroboros.png");
    background-position: 52.8%;
}
#nyx {
    background-image: url("../img/valks/Starchasm_Nyx.png");
    background-position: 49.3%;
}
#pe {
    background-image: url("../img/valks/Palatinus_Equinox.png");
    background-position: 48.76%;
}
#raven {
    background-image: url("../img/valks/Midnight_Absinthe.png");
    background-position: 53.4%;
}
#rc {
    background-image: url("../img/valks/Reverist_Calico.png");
    background-position: 56.4%;
}
#ri {
    background-image: url("../img/valks/Ritual_Imayoh.png");
    background-position: 55%;
}
#sn {
    background-image: url("../img/valks/Stygian_Nymph.png");
    background-position: 44.6%;
}
#spa {
    background-image: url("../img/valks/Spina_Astera.png");
    background-position: 49.5%;
}
#stfu {
    background-image: url("../img/valks/Striker_Fulminata.png");
    background-position: 61.8%;
}
#sw {
    background-image: url("../img/valks/Silverwing_N-EX.png");
    background-position: 58.3%;
}
#tp {
    background-image: url("../img/valks/Twilight_Paladin.png");
    background-position: 47.18%;
}
#vg {
    background-image: url("../img/valks/Valkyrie_Gloria.png");
    background-position: 50%;
}
#fischl-name { font-size: 16px; }
#aka-name, #bke-name, #hofs-name, #hos-name { font-size: 20px; }
#hor-name, #hot-name, #stfu-name { font-size: 22px; }
#mobius-name, #raven-name { font-size: 25px; }
#fr-name, #pe-name { font-size: 28px; }
#rc-name, #elysia-name, #sw-name, #tp-name, #vg-name { font-size: 30px; }
#sn-name { font-size: 32px; }
#da-name, #lk-name, #nyx-name, #ri-name, #spa-name, #carole-name { font-size: 35px; }
/* about page */
#about #container {
    background-color: var(--dark-tint);
}
#sub-container {
    background-color: rgba(0, 0, 0, 0.4);
    width: 600px;
    max-width: 90%;
    margin: auto;
    margin-top: 10px;
    padding: 20px;
}
@media only screen and (max-width: 640px) {
    #sub-container { width: auto; }
}
h5 {
    font-size: 30px;
}
h6 {
    font-size: 24px;
}
hr, #about a {
    color: var(--white);
}
#about p, li {
    line-height: 1.2;
}
#about table {
    margin: auto;
}
#about table td {
    border: 1px solid var(--white);
}
#about tr:nth-child(1) td {
    width: 20%;
    vertical-align: middle;
}
.cell-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
}
.sideways {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}
li {
    list-style: initial;
    margin: 0 0 10px 15px;
}
strong {
    font-weight: bold;
}