:root {
    --white: rgba(255, 255, 255, 0.8);
    --dark-tint: rgba(0, 0, 0, 0.83);
    --scrollbar-thumb: rgb(30, 30, 30);
}
/* webkit scrollbar */
::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover { background-color: rgb(60, 60, 60); }
::-webkit-scrollbar-track { background-color: var(--dark-tint); }
body::-webkit-scrollbar-track { background-color: black; }
/* guide scrollbar */
.guide-container::-webkit-scrollbar-thumb,
.guide-container::-webkit-scrollbar-track {
    background-color: transparent;
}
* {
    /* mozilla scrollbar */
    scrollbar-color: transparent black !important;
    scrollbar-width: thin !important;
}
.flex { display: flex; }
.fh-center { justify-content: center; }
.fv-center { align-items: center; }
.f-col { flex-direction: column; }
.f-row { flex-direction: row; }
.pos-abs { position: absolute; }
.pos-rel { position: relative; }
body {
    background-image: url("../img/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--white);
}
#cover {
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: black;
}
.fade { animation: fade 1s; }
@keyframes fade {
    from { opacity: 1; }
    to { opacity: 0; }
}
#progress-bar {
    width: 50%;
    height: 5px;
    background-color: #222;
}
#meter {
    width: 0;
    height: 5px;
    background-color: gray;
    border-radius: 5px;
}
header {
    flex-grow: 1;
}
@media only screen and (max-height: 1100px) {
    header {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
header p {
    margin: 20px auto 10px auto;
    font-style: italic;
}
header a {
    color: var(--white);
    font-size: 12px;
}
header h1, header p, header a {
    animation: headeranim 5s;
}
@keyframes headeranim {
    from { color: transparent; }
    to { color: var(--white); }
}
footer {
    flex-grow: 2;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.75) 0%, rgb(0, 0, 0) 100%);
}
header, main {
    background-color: var(--dark-tint);
}
h1 {
    font-size: 4em;
    letter-spacing: 10px;
    text-align: center;
    text-transform: uppercase;
}
#main-container {
    overflow-y: hidden;
    background: linear-gradient(0deg,black 0%, var(--dark-tint) 100%);
}
#main-container:hover {
    scrollbar-color: var(--scrollbar-thumb) black !important;
}
#main-container:hover::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
}
.banner {
    display: inline-block;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
}
.hidden { opacity: 0 !important; }
.fade-in-up { animation: fadeinup 2s; }
.fade-in-down { animation: fadeindown 2s; }
@keyframes fadeinup {
    from { transform: translateY(100px); opacity: 0; }
    to {  transform: translateY(0px); opacity: 1; }
}
@keyframes fadeindown {
    from {  transform: translateY(-100px);  opacity: 0; }
    to {  transform: translateY(0px); opacity: 1; }
}
.banner div:nth-child(1) {
    box-shadow: inset 0 -800px 800px -500px rgba(0, 0, 0, 0.8);
    background-size: cover;
    filter: brightness(35%);
    transition: 0.2s;
    height: 800px;
    width: 100px;
}
.banner:hover div:nth-child(1) {
    filter: brightness(70%);
    transition: 0.2s;
    color: white;
}
.main-name {
    transform: translateY(-100%);
    width: 100%;
    height: 100%;
}
.vertical-text {
    font-family: 'Raleway';
    writing-mode: vertical-lr;
    text-orientation: upright;
    text-transform: uppercase;
    letter-spacing: 8px;
    color: rgba(255, 255, 255, 0.7);
}
.guide-container {
    scrollbar-color: transparent transparent !important;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: 0.3s ease;
    width: 0px;
    min-width: 0px;
    max-height: 790px;
    padding-top: 10px;
    opacity: 0;
}/*
.guide-container::after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background: linear-gradient(0deg, rgba(255,255,255,1), rgba(255,255,255,0) 100%);
    width: 100%;
    height: 4em;
}*/
h2 {
    font-size: 40px;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 10px;
}
h3 {
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
    line-height: 40px;
}
h4 {
    font-size: 12px;
    margin-bottom: 10px;
}
.rating {
    font-style: italic;
    margin-bottom: 2px;
}
.build-no {
    font-size: 12px;
    margin-top: 5px;
}
.rec-signets {
    margin-top: 5px;
    margin-bottom: 10px;
}
.signet {
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.8;
}
.anchor {
    width: 30px;
    height: 30px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(78, 78, 78, 0.2);
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 20px;
    color: var(--white);
}
.anchor:hover {
    cursor: pointer;
    background-color: var(--white);
    color: black;
}
.link-spanner {
    width: 100%;
    height: 100%;
    transform: translate(-23px, -15px);
}
.sig-tog {
    width: 32px;
    height: 32px;
}
.sig-sep {
    width: 40px;
    height: 40px;
}
.signet label {
    padding-top: 40px;
    font-size: 10px;
}
/* signets images */
.aponia     { background-image: url("../img/signets/Aponia_Signet.png"); }
.eden       { background-image: url("../img/signets/Eden_Signet.png"); }
.griseo     { background-image: url("../img/signets/Griseo_Signet.png"); }
.hua        { background-image: url("../img/signets/Hua_Signet.png"); }
.kalpas     { background-image: url("../img/signets/Kalpas_Signet.png"); }
.kevin      { background-image: url("../img/signets/Kevin_Signet.png"); }
.kosma      { background-image: url("../img/signets/Kosma_Signet.png"); }
.mobius     { background-image: url("../img/signets/Mobius_Signet.png"); }
.pardofelis { background-image: url("../img/signets/Pardofelis_Signet.png"); }
.sakura     { background-image: url("../img/signets/Sakura_Signet.png"); }
.su         { background-image: url("../img/signets/Su_Signet.png"); }
.vill-v     { background-image: url("../img/signets/Vill-V_Signet.png"); }
th, td {
    text-align: center;
    vertical-align: middle;
    background-size: cover;
    background-position: center;
}
th {
    font-size: 20px;
}
tr {
    height: 50px;
    border-bottom: 1px solid var(--white);
}
tr:last-child:not(thead tr) {
    border-bottom: unset;
}
.table-cell-hover {
    background-color: var(--white);
    color: black;
}
.noted {
    background-color: rgba(70, 70, 70, 0.5);
}
.emblem-support {
    justify-content: space-between;
    width: 90%;
}
@media only screen and (max-width: 400px) {
    .emblem-support { flex-direction: column; }
    .emblem, .supp { width: 100% !important; }
}
.emblem table, .supp table { width: 100%; }
.emblem { width: 40%; }
.emblem table td:nth-child(2),
.emblem table td:nth-child(3) {
    width: 50px;
    font-size: 10px;
}
.supp {
    width: 55%;
    height: 150px;
}
.supp td:nth-child(n+2):nth-child(-n+5),
.emblem td:nth-child(n+2):nth-child(-n+3) {
    color: transparent;
    transition: 0.3s ease;
}
.supp td:nth-child(n+2):nth-child(-n+5):hover,
.emblem td:nth-child(n+2):nth-child(-n+3):hover {
    color: var(--white);
    transition: 0.2s ease-in;
}
/* emblem images */
.boy    { background-image: url("../img/emblems/Because_of_You.png"); }
.bl     { background-image: url("../img/emblems/Boundless_Logos.png"); }
.b      { background-image: url("../img/emblems/Burden.png"); }
.dg     { background-image: url("../img/emblems/Dreamful_Gold.png"); }
.els    { background-image: url("../img/emblems/Empty_Like_Shala.png"); }
.fipl   { background-image: url("../img/emblems/Falling_in_Past_Light.png"); }
.fs     { background-image: url("../img/emblems/Forbidden_Seed.png"); }
.fmt    { background-image: url("../img/emblems/Forget_Me_Not.png"); }
.gg     { background-image: url("../img/emblems/Gold_Goblet.png"); }
.god    { background-image: url("../img/emblems/Good_Old_Days.png"); }
.gsr    { background-image: url("../img/emblems/Grey_Scale_Rainbow.png"); }
.h      { background-image: url("../img/emblems/Hometown.png"); }
.haaml  { background-image: url("../img/emblems/Heavy_as_a_Million_Lives.png"); }
.hl     { background-image: url("../img/emblems/Home_Lost.png"); }
.iwbw   { background-image: url("../img/emblems/It_Will_Be_Written.png"); }
.kttd   { background-image: url("../img/emblems/Key_to_the_Deep.png"); }
.laabl  { background-image: url("../img/emblems/Light_as_a_Bodhi_Leaf.png"); }
.mkm    { background-image: url("../img/emblems/Mad_Kings_Mask.png"); }
.m      { background-image: url("../img/emblems/Memory.png"); }
.oor    { background-image: url("../img/emblems/Out_of_Reach.png"); }
.pm     { background-image: url("../img//emblems/Pseudo_Miracle.png"); }
.r      { background-image: url("../img/emblems/Resolve.png"); }
.roa    { background-image: url("../img/emblems/Rainbow_of_Absence.png"); }
.sts    { background-image: url("../img/emblems/Stained_Sakura.png"); }
.tc     { background-image: url("../img/emblems/Thorny_Crown.png"); }
.tfs    { background-image: url("../img/emblems/The_First_Scale.png"); }
.th     { background-image: url("../img/emblems/Tsukimi_Himiko.png"); }
.tlm    { background-image: url("../img/emblems/The_Lonely_Moon.png"); }
.exclusive-tbl,
.main-tbl,
.secondary-tbl,
.transitional-tbl {
    width: 50%;
    min-width: 90%;
}
.main-tbl th:nth-child(1),
.secondary-tbl th:nth-child(1),
.transitional-tbl th:nth-child(1) {
    width: 20%;
}
.pic {
    cursor: pointer;
    background-size: cover;
    background-position: center;
    height: 50px;
}
/* valk support images */
.supp .ae    { background-image: url("../img/avatars/Azure_Empyrea_Avatar.png"); }
.supp .bke   { background-image: url("../img/avatars/Bright_Knight_Excelsis_Avatar.png"); }
.supp .br    { background-image: url("../img/avatars/Blood_Rose_Avatar.png"); }
.supp .dp    { background-image: url("../img/avatars/Divine_Prayer_Avatar.png"); }
.supp .hb    { background-image: url("../img/avatars/Haxxor_Bunny_Avatar.png"); }
.supp .le    { background-image: url("../img/avatars/Lightning_Empress_Avatar.png"); }
.supp .ma    { background-image: url("../img/avatars/Midnight_Absinthe_Avatar.png"); }
.supp .rc    { background-image: url("../img/avatars/Reverist_Calico_Avatar.png"); }
.supp .sa    { background-image: url("../img/avatars/Starlit_Astrologos_Avatar.png"); }
.supp .ss    { background-image: url("../img/avatars/Snowy_Sniper_Avatar.png"); }
.supp .vc    { background-image: url("../img/avatars/Valkyrie_Chariot_Avatar.png"); }
.tooltip {
    height: 100%;
    width: 100%;
    transform: translateY(-50px);
}
.tooltip p {
    transform: translateY(18px);
    height: 25px;
}
.tooltip span {
    visibility: hidden;
    text-align: center;
    white-space: nowrap;
    background-color: rgb(34, 34, 34);
    color: var(--white);
    font-size: 12px;
    padding: 5px;
    border-radius: 6px;
    opacity: 0;
    transition: opacity 0.2s;
    transform: translateY(-20px);
}
.tooltip input {
    appearance: none;
    cursor: pointer;
    width: 100%;
    height: 50px;
}
.tooltip input:checked + span {
    visibility: visible;
    opacity: 1;
}
.notes {
    margin-top: 20px;
    padding: 20px;
    width: 85%;
    font-size: 14px;
    line-height: 20px;
}
.notes p {
    font-weight: bold;
}
.notes span {
    font-style: italic;
}
.notes:hover {
    background-color: var(--white);
    color: black;
}
#goToTop {
    visibility: hidden;
    position: fixed;
    cursor: pointer;
    bottom: 10px;
    right: 10px;
    border: none;
    border-radius: 50%;
    outline: none;
    background-color: rgb(60, 60, 60);
    color: rgba(255, 255, 255, 0.8);
    width: 50px;
    height: 50px;
    padding-top: 5px;
}
#goToTop .material-icons {
    font-size: 35px;
}
#goToTop:hover {
    background-color: rgba(60, 60, 60, 0.8);
}
/* banner images */
#aka {
    background-image: url("../img/valks/Argent_Knight_Artemis.png");
    background-position: 57%;
}
#bke {
    background-image: url("../img/valks/Bright_Knight_Excelsis.png");
    background-position: 50%;
}
#carole {
    background-image: url("../img/valks/Swwet_n_Spicy.png");
    background-position: 51.4%;
}
#da {
    background-image: url("../img/valks/Dea_Anchora.png");
    background-position: 52.7%;
}
#dip {
    background-image: url("../img/valks/Disciplinary_Perdition.png");
    background-position: 55.3%;
}
#ede {
    background-image: url("../img/valks/Golden_Diva.png");
    background-position: 52.5%;
}
#elysia {
    background-image: url("../img/valks/Miss_Pink_Elf.png");
    background-position: 52%;
}
#fr {
    background-image: url("../img/valks/Fallen_Rosemary.png");
    background-position: 56.2%;
}
#fischl {
    background-image: url("../img/valks/Prinzessin_der_Verurteilung.png");
    background-position: 57%;
}
#hofs {
    background-image: url("../img/valks/Herrscher_of_Flamescion.png");
    background-position: 53.7%;
}
#hor {
    background-image: url("../img/valks/Herrscher_of_Reason.png");
    background-position: 54.1%;
}
#hos {
    background-image: url("../img/valks/Herrscher_of_Sentience.png");
    background-position: 51.2%;
}
#hot {
    background-image: url("../img/valks/Herrscher_of_Thunder.png");
    background-position: 57%;
}
#lk {
    background-image: url("../img/valks/Luna_Kindred.png");
    background-position: 44.8%;
}
#mobius {
    background-image: url("../img/valks/Infinite_Ouroboros.png");
    background-position: 52.8%;
}
#nyx {
    background-image: url("../img/valks/Starchasm_Nyx.png");
    background-position: 49.3%;
}
#pe {
    background-image: url("../img/valks/Palatinus_Equinox.png");
    background-position: 48.76%;
}
#raven {
    background-image: url("../img/valks/Midnight_Absinthe.png");
    background-position: 53.4%;
}
#rc {
    background-image: url("../img/valks/Reverist_Calico.png");
    background-position: 56.4%;
}
#ri {
    background-image: url("../img/valks/Ritual_Imayoh.png");
    background-position: 55%;
}
#sn {
    background-image: url("../img/valks/Stygian_Nymph.png");
    background-position: 44.6%;
}
#spa {
    background-image: url("../img/valks/Spina_Astera.png");
    background-position: 49.5%;
}
#stfu {
    background-image: url("../img/valks/Striker_Fulminata.png");
    background-position: 61.8%;
}
#sw {
    background-image: url("../img/valks/Silverwing_N-EX.png");
    background-position: 58.3%;
}
#tp {
    background-image: url("../img/valks/Twilight_Paladin.png");
    background-position: 47.18%;
}
#vg {
    background-image: url("../img/valks/Valkyrie_Gloria.png");
    background-position: 50%;
}
#fischl-name { font-size: 16px; }
#aka-name, #dip-name, #bke-name, #hofs-name, #hos-name { font-size: 20px; }
#hor-name, #hot-name, #stfu-name { font-size: 22px; }
#mobius-name, #raven-name { font-size: 25px; }
#fr-name, #pe-name { font-size: 28px; }
#rc-name, #elysia-name, #sw-name, #tp-name, #vg-name { font-size: 30px; }
#sn-name { font-size: 32px; }
#da-name, #ede-name, #lk-name, #nyx-name, #ri-name, #spa-name, #carole-name { font-size: 35px; }
/* about page */
#about #container {
    background-color: var(--dark-tint);
    height: 100vh;
}
#sub-container::-webkit-scrollbar-track { background-color: transparent; }
#sub-container {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    width: 600px;
    max-width: 90%;
    height: 95vh;
    padding: 20px;
    overflow-y: auto;
    scrollbar-color: rgb(40, 40, 40) transparent !important;
}
@media only screen and (max-width: 640px) {
    #sub-container {
        width: auto;
        height: unset;
        overflow-y: unset;
    }
    #about #container { height: initial; }
}
h5 {
    font-size: 30px;
}
h6 {
    font-size: 24px;
}
hr, #about a {
    color: var(--white);
}
#about p, li {
    line-height: 1.2;
}
#about table {
    margin: auto;
}
#about table td {
    border: 1px solid var(--white);
}
#about tr:nth-child(1) td {
    width: 20%;
    vertical-align: middle;
}
.cell-center {
    width: 25px;
}
.sideways {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}
li {
    list-style: initial;
    margin: 0 0 10px 15px;
}
strong {
    font-weight: bold;
}

#scroll-left, #scroll-right {
    width: 50px;
    height: 50px;
}
#scroll-left {
    background-color: red;
}
#scroll-right {
    background-color: green;
}