#fischl-name {
    font-size: 16px;
}
#aka-name,
#dip-name,
#bke-name,
#hofs-name, 
#hos-name {
    font-size: 20px;
}
#hor-name,
#hot-name,
#stfu-name {
    font-size: 22px;
}
#mobius-name,
#raven-name {
    font-size: 25px;
}
#fr-name,
#pe-name {
    font-size: 28px;
}
#elysia-name,
#rc-name,
#sw-name,
#tp-name,
#vg-name {
    font-size: 30px;
}
#sn-name {
    font-size: 32px;
}
#carole-name,
#da-name,
#ede-name,
#lk-name,
#nyx-name,
#ri-name,
#spa-name {
    font-size: 35px;
}