@import 'modules/mixins';
/* cover */
#cover {
    @include wh($w: 100vw, $h: 100vh);
    background-color: black;
    z-index: 1;
}
#progress-bar {
    @include wh($w: 50%, $h: 5px);
    background-color: #222
}
#meter {
    @include wh($w: 0, $h: 5px);
    background-color: gray;
    border-radius: 5px;
}
#error-msg {
    font-size: 22px;
}
#refresh {
    @include darkButton;
    @include wh($w: 40px, $h: 40px);
    @include margin($t: 10px);
    @include padding($t: 4px);
    cursor: pointer;
    border: none;
}