/* emblem images */
.boy    { background-image: url("../img/emblems/Because_of_You.webp"); }
.bf     { background-image: url("../img/emblems/Boundless_Feeling.webp"); }
.bl     { background-image: url("../img/emblems/Boundless_Logos.webp"); }
.b      { background-image: url("../img/emblems/Burden.webp"); }
.dg     { background-image: url("../img/emblems/Dreamful_Gold.webp"); }
.els    { background-image: url("../img/emblems/Empty_Like_Shala.webp"); }
.fas    { background-image: url("../img/emblems/Faraway_Ship.webp"); }
.fipl   { background-image: url("../img/emblems/Falling_in_Past_Light.webp"); }
.ff     { background-image: url("../img/emblems/Fragile_Friend.webp"); }
.foe    { background-image: url("../img/emblems/Feast_of_Emptiness.webp"); }
.fos    { background-image: url("../img/emblems/Forbidden_Seed.webp"); }
.fmt    { background-image: url("../img/emblems/Forget_Me_Not.webp"); }
.gg     { background-image: url("../img/emblems/Gold_Goblet.webp"); }
.god    { background-image: url("../img/emblems/Good_Old_Days.webp"); }
.gsr    { background-image: url("../img/emblems/Grey_Scale_Rainbow.webp"); }
.h      { background-image: url("../img/emblems/Hometown.webp"); }
.haaml  { background-image: url("../img/emblems/Heavy_as_a_Million_Lives.webp"); }
.hl     { background-image: url("../img/emblems/Home_Lost.webp"); }
.iwbw   { background-image: url("../img/emblems/It_Will_Be_Written.webp"); }
.kttd   { background-image: url("../img/emblems/Key_to_the_Deep.webp"); }
.laabl  { background-image: url("../img/emblems/Light_as_a_Bodhi_Leaf.webp"); }
.mkm    { background-image: url("../img/emblems/Mad_Kings_Mask.webp"); }
.m      { background-image: url("../img/emblems/Memory.webp"); }
.oor    { background-image: url("../img/emblems/Out_of_Reach.webp"); }
.pm     { background-image: url("../img/emblems/Pseudo_Miracle.webp"); }
.pogae  { background-image: url("../img/emblems/Proof_of_Good_and_Evil.webp"); }
.r      { background-image: url("../img/emblems/Resolve.webp"); }
.rl     { background-image: url("../img/emblems/Ruined_Legacy.webp"); }
.roa    { background-image: url("../img/emblems/Rainbow_of_Absence.webp"); }
.sts    { background-image: url("../img/emblems/Stained_Sakura.webp"); }
.tc     { background-image: url("../img/emblems/Thorny_Crown.webp"); }
.tf     { background-image: url("../img/emblems/Tin_Flask.webp"); }
.tfs    { background-image: url("../img/emblems/The_First_Scale.webp"); }
.th     { background-image: url("../img/emblems/Tsukimi_Himiko.webp"); }
.tlm    { background-image: url("../img/emblems/The_Lonely_Moon.webp"); }
.vot    { background-image: url("../img/emblems/Veil_of_Tears.webp"); }