/* emblem images */
.boy    { background-image: url("../img/emblems/Because_of_You.png"); }
.bl     { background-image: url("../img/emblems/Boundless_Logos.png"); }
.b      { background-image: url("../img/emblems/Burden.png"); }
.dg     { background-image: url("../img/emblems/Dreamful_Gold.png"); }
.els    { background-image: url("../img/emblems/Empty_Like_Shala.png"); }
.fipl   { background-image: url("../img/emblems/Falling_in_Past_Light.png"); }
.fs     { background-image: url("../img/emblems/Forbidden_Seed.png"); }
.fmt    { background-image: url("../img/emblems/Forget_Me_Not.png"); }
.gg     { background-image: url("../img/emblems/Gold_Goblet.png"); }
.god    { background-image: url("../img/emblems/Good_Old_Days.png"); }
.gsr    { background-image: url("../img/emblems/Grey_Scale_Rainbow.png"); }
.h      { background-image: url("../img/emblems/Hometown.png"); }
.haaml  { background-image: url("../img/emblems/Heavy_as_a_Million_Lives.png"); }
.hl     { background-image: url("../img/emblems/Home_Lost.png"); }
.iwbw   { background-image: url("../img/emblems/It_Will_Be_Written.png"); }
.kttd   { background-image: url("../img/emblems/Key_to_the_Deep.png"); }
.laabl  { background-image: url("../img/emblems/Light_as_a_Bodhi_Leaf.png"); }
.mkm    { background-image: url("../img/emblems/Mad_Kings_Mask.png"); }
.m      { background-image: url("../img/emblems/Memory.png"); }
.oor    { background-image: url("../img/emblems/Out_of_Reach.png"); }
.pm     { background-image: url("../img//emblems/Pseudo_Miracle.png"); }
.r      { background-image: url("../img/emblems/Resolve.png"); }
.roa    { background-image: url("../img/emblems/Rainbow_of_Absence.png"); }
.sts    { background-image: url("../img/emblems/Stained_Sakura.png"); }
.tc     { background-image: url("../img/emblems/Thorny_Crown.png"); }
.tfs    { background-image: url("../img/emblems/The_First_Scale.png"); }
.th     { background-image: url("../img/emblems/Tsukimi_Himiko.png"); }
.tlm    { background-image: url("../img/emblems/The_Lonely_Moon.png"); }