@import 'modules/mixins';

#guide-container {
    @include wh($w: 100%, $h: 100%);
    position: fixed;
}
.bg-fade-in {
    animation: bgfadein 0.5s;
}
.bg-fade-out {
    animation: bgfadeout 0.5s;
}
@keyframes bgfadein {
    from {
        background-color: transparent;
    }
    to {
        background-color: rgba(0, 0, 0, 0.3);
    }
}
@keyframes bgfadeout {
    from {
        background-color: rgba(0, 0, 0, 0.3);
    }
    to {
        background-color: transparent;
    }
}
#guide-content {
    scrollbar-width: none !important;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: 0.3s ease;
    position: fixed;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;

    ::-webkit-scrollbar { 
        display: none;
    }
}
.guide-entry-desktop {
    animation: guideentrydesktop 0.6s;
}
.guide-exit-desktop {
    animation: guideexitdesktop 0.6s;
}
@keyframes guideentrydesktop {
    from {
        transform: translate(-50%, -100px);
        opacity: 0;
    }
    to {
        transform: translate(-50%, 15%);
        opacity: 1;
    }
}
@keyframes guideexitdesktop {
    from {
        transform: translate(-50%, 15%);
        opacity: 1;
    }
    to {
        transform: translate(-50%, -100px);
        opacity: 0;
    }
}
.guide-top-entry-mobile {
    animation: guidetopentrymobile 0.6s 0.1s cubic-bezier(0.55, 0.06, 0.68, 0.19);
}
.guide-top-exit-mobile {
    animation: guidetopexitmobile 0.5s;
}
@keyframes guidetopentrymobile {
    from {
        transform: translate(-50%, -100px);
        opacity: 0;
    }
    to {
        transform: translateX(-50%);
        opacity: 1;
    }
}
@keyframes guidetopexitmobile {
    from {
        transform: translateX(-50%);
        opacity: 1;
    }
    to {
        transform: translate(-50%, -100px);
        opacity: 0;
    }
}
.guide-bot-entry-mobile {
    animation: guidebotentrymobile 0.6s 0.1s cubic-bezier(0.55, 0.06, 0.68, 0.19);
}
.guide-bot-exit-mobile {
    animation: guidebotexitmobile 0.5s;
}
@keyframes guidebotentrymobile {
    from {
        transform: translate(-50%, 100px);
        opacity: 0;
    }
    to {
        transform: translateX(-50%);
        opacity: 1;
    }
}
@keyframes guidebotexitmobile {
    from {
        transform: translateX(-50%);
        opacity: 1;
    }
    to {
        transform: translate(-50%, 100px);
        opacity: 0;
    }
}