.aponia     { background-image: url("../img/signets/Aponia_Signet.png"); }
.eden       { background-image: url("../img/signets/Eden_Signet.png"); }
.griseo     { background-image: url("../img/signets/Griseo_Signet.png"); }
.hua        { background-image: url("../img/signets/Hua_Signet.png"); }
.kalpas     { background-image: url("../img/signets/Kalpas_Signet.png"); }
.kevin      { background-image: url("../img/signets/Kevin_Signet.png"); }
.kosma      { background-image: url("../img/signets/Kosma_Signet.png"); }
.mobius     { background-image: url("../img/signets/Mobius_Signet.png"); }
.pardofelis { background-image: url("../img/signets/Pardofelis_Signet.png"); }
.sakura     { background-image: url("../img/signets/Sakura_Signet.png"); }
.su         { background-image: url("../img/signets/Su_Signet.png"); }
.vill-v     { background-image: url("../img/signets/Vill-V_Signet.png"); }