/* stigmata images */
.allt    { background-image: url("../img/stigmatas/Allan_Poe_T.webp"); }
.allm    { background-image: url("../img/stigmatas/Allan_Poe_M.webp"); }
.allb    { background-image: url("../img/stigmatas/Allan_Poe_B.webp"); }
.anat    { background-image: url("../img/stigmatas/Ana_Schariac_T.webp"); }
.anam    { background-image: url("../img/stigmatas/Ana_Schariac_M.webp"); }
.anab    { background-image: url("../img/stigmatas/Ana_Schariac_B.webp"); }
.aslt    { background-image: url("../img/stigmatas/Aslaug_T.webp"); }
.aslm    { background-image: url("../img/stigmatas/Aslaug_M.webp"); }
.aslb    { background-image: url("../img/stigmatas/Aslaug_B.webp"); }
.bast    { background-image: url("../img/stigmatas/Bastet_T.webp"); }
.basm    { background-image: url("../img/stigmatas/Bastet_M.webp"); }
.basb    { background-image: url("../img/stigmatas/Bastet_B.webp"); }
.bent    { background-image: url("../img/stigmatas/Benares_Awakening_T.webp"); }
.benm    { background-image: url("../img/stigmatas/Benares_Awakening_M.webp"); }
.benb    { background-image: url("../img/stigmatas/Benares_Awakening_B.webp"); }
.biat    { background-image: url("../img/stigmatas/Bianka_Theatre_T.webp"); }
.biam    { background-image: url("../img/stigmatas/Bianka_Theatre_M.webp"); }
.biab    { background-image: url("../img/stigmatas/Bianka_Theatre_B.webp"); }
.brot    { background-image: url("../img/stigmatas/Bronya_N-EX_T.webp"); }
.brom    { background-image: url("../img/stigmatas/Bronya_N-EX_M.webp"); }
.brob    { background-image: url("../img/stigmatas/Bronya_N-EX_B.webp"); }
.cart    { background-image: url("../img/stigmatas/Carlo_Collodi_T.webp"); }
.carm    { background-image: url("../img/stigmatas/Carlo_Collodi_M.webp"); }
.carb    { background-image: url("../img/stigmatas/Carlo_Collodi_B.webp"); }
.cezt    { background-image: url("../img/stigmatas/Cezanne_T.webp"); }
.cezm    { background-image: url("../img/stigmatas/Cezanne_M.webp"); }
.cezb    { background-image: url("../img/stigmatas/Cezanne_B.webp"); }
.dant    { background-image: url("../img/stigmatas/Dante_T.webp"); }
.danm    { background-image: url("../img/stigmatas/Dante_M.webp"); }
.danb    { background-image: url("../img/stigmatas/Dante_B.webp"); }
.dirt    { background-image: url("../img/stigmatas/Dirac_T.webp"); }
.dirm    { background-image: url("../img/stigmatas/Dirac_M.webp"); }
.dirb    { background-image: url("../img/stigmatas/Dirac_B.webp"); }
.drat    { background-image: url("../img/stigmatas/Dracula_T.webp"); }
.dram    { background-image: url("../img/stigmatas/Dracula_M.webp"); }
.drab    { background-image: url("../img/stigmatas/Dracula_B.webp"); }
.elpt    { background-image: url("../img/stigmatas/Elysia_Pristine_T.webp"); }
.elpm    { background-image: url("../img/stigmatas/Elysia_Pristine_M.webp"); }
.elpb    { background-image: url("../img/stigmatas/Elysia_Pristine_B.webp"); }
.elyt    { background-image: url("../img/stigmatas/Elysia_T.webp"); }
.elym    { background-image: url("../img/stigmatas/Elysia_M.webp"); }
.elyb    { background-image: url("../img/stigmatas/Elysia_B.webp"); }
.hant    { background-image: url("../img/stigmatas/Handel_T.webp"); }
.hanm    { background-image: url("../img/stigmatas/Handel_M.webp"); }
.hanb    { background-image: url("../img/stigmatas/Handel_B.webp"); }
.iret    { background-image: url("../img/stigmatas/Irene_Adler_T.webp"); }
.irem    { background-image: url("../img/stigmatas/Irene_Adler_M.webp"); }
.ireb    { background-image: url("../img/stigmatas/Irene_Adler_B.webp"); }
.kaft    { background-image: url("../img/stigmatas/Kafka_T.webp"); }
.kafm    { background-image: url("../img/stigmatas/Kafka_M.webp"); }
.kafb    { background-image: url("../img/stigmatas/Kafka_B.webp"); }
.leet    { background-image: url("../img/stigmatas/Leeuwenhoek_T.webp"); }
.leeb    { background-image: url("../img/stigmatas/Leeuwenhoek_B.webp"); }
.list    { background-image: url("../img/stigmatas/Li_Sushang_Shenzhou_Reminiscence_T.webp"); }
.lism    { background-image: url("../img/stigmatas/Li_Sushang_Shenzhou_Reminiscence_M.webp"); }
.lisb    { background-image: url("../img/stigmatas/Li_Sushang_Shenzhou_Reminiscence_B.webp"); }
.lint    { background-image: url("../img/stigmatas/Linnaeus_T.webp"); }
.linm    { background-image: url("../img/stigmatas/Linnaeus_M.webp"); }
.linb    { background-image: url("../img/stigmatas/Linnaeus_B.webp"); }
.marm    { background-image: url("../img/stigmatas/Marco_Polo_M.webp"); }
.mict    { background-image: url("../img/stigmatas/Michelangelo_T.webp"); }
.micb    { background-image: url("../img/stigmatas/Michelangelo_B.webp"); }
.murt    { background-image: url("../img/stigmatas/Murata_Himeko_T.webp"); }
.murm    { background-image: url("../img/stigmatas/Murata_Himeko_M.webp"); }
.murb    { background-image: url("../img/stigmatas/Murata_Himeko_B.webp"); }
.pagt    { background-image: url("../img/stigmatas/Paganini_T.webp"); }
.pagm    { background-image: url("../img/stigmatas/Paganini_M.webp"); }
.pagb    { background-image: url("../img/stigmatas/Paganini_B.webp"); }
.ragt    { background-image: url("../img/stigmatas/Ragna_T.webp"); }
.ragm    { background-image: url("../img/stigmatas/Ragna_M.webp"); }
.ragb    { background-image: url("../img/stigmatas/Ragna_B.webp"); }
.rebt    { background-image: url("../img/stigmatas/Mei_Spectramancer_T.webp"); }
.rebb    { background-image: url("../img/stigmatas/Fu_Hua_Onyx_Simurgh_B.webp"); }
.robt    { background-image: url("../img/stigmatas/Robert_Peary_T.webp"); }
.robm    { background-image: url("../img/stigmatas/Robert_Peary_M.webp"); }
.robb    { background-image: url("../img/stigmatas/Robert_Peary_B.webp"); }
.shat    { background-image: url("../img/stigmatas/Shakespeare_Adrift_T.webp"); }
.sham    { background-image: url("../img/stigmatas/Shakespeare_Adrift_M.webp"); }
.shab    { background-image: url("../img/stigmatas/Shakespeare_Adrift_B.webp"); }
.shst    { background-image: url("../img/stigmatas/Raksha_T.webp"); }
.shsm    { background-image: url("../img/stigmatas/Sushang_M.webp"); }
.shsb    { background-image: url("../img/stigmatas/Empyrea_Phoenix_B.webp"); }
.siem    { background-image: url("../img/stigmatas/Siegfried_Kaslana_M.webp"); }
.sirt    { background-image: url("../img/stigmatas/Sirin_Ascendant_T.webp"); }
.sirm    { background-image: url("../img/stigmatas/Sirin_Ascendant_M.webp"); }
.sirb    { background-image: url("../img/stigmatas/Sirin_Ascendant_B.webp"); }
.tham    { background-image: url("../img/stigmatas/Thales_M.webp"); }
.vert    { background-image: url("../img/stigmatas/Verne_T.webp"); }
.verm    { background-image: url("../img/stigmatas/Verne_M.webp"); }
.verb    { background-image: url("../img/stigmatas/Verne_B.webp"); }
.want    { background-image: url("../img/stigmatas/Wang_Zhenyi_T.webp"); }
.wanm    { background-image: url("../img/stigmatas/Wang_Zhenyi_M.webp"); }
.wanb    { background-image: url("../img/stigmatas/Wang_Zhenyi_B.webp"); }
.welt    { background-image: url("../img/stigmatas/Welt_Yang_T.webp"); }
.welm    { background-image: url("../img/stigmatas/Welt_Yang_M.webp"); }
.welb    { background-image: url("../img/stigmatas/Welt_Yang_B.webp"); }
.wilt    { background-image: url("../img/stigmatas/Willows_T.webp"); }
.wilm    { background-image: url("../img/stigmatas/Willows_M.webp"); }
.wilb    { background-image: url("../img/stigmatas/Willows_B.webp"); }
.zent    { background-image: url("../img/stigmatas/Zeno_T.webp"); }
.zenm    { background-image: url("../img/stigmatas/Zeno_M.webp"); }
.zenb    { background-image: url("../img/stigmatas/Zeno_B.webp"); }