/* support valk images */
.ae    { background-image: url("../img/avatars/Azure_Empyrea_Avatar.png"); }
.bke   { background-image: url("../img/avatars/Bright_Knight_Excelsis_Avatar.png"); }
.br    { background-image: url("../img/avatars/Blood_Rose_Avatar.png"); }
.dp    { background-image: url("../img/avatars/Divine_Prayer_Avatar.png"); }
.hb    { background-image: url("../img/avatars/Haxxor_Bunny_Avatar.png"); }
.le    { background-image: url("../img/avatars/Lightning_Empress_Avatar.png"); }
.ma    { background-image: url("../img/avatars/Midnight_Absinthe_Avatar.png"); }
.rc    { background-image: url("../img/avatars/Reverist_Calico_Avatar.png"); }
.sa    { background-image: url("../img/avatars/Starlit_Astrologos_Avatar.png"); }
.ss    { background-image: url("../img/avatars/Snowy_Sniper_Avatar.png"); }
.vc    { background-image: url("../img/avatars/Valkyrie_Chariot_Avatar.png"); }