.hawp   { background-image: url("../img/weapons/0_high_atk_weap.webp"); }
.abfl   { background-image: url("../img/weapons/Abyss_Flower_Liminal_Spiral.webp"); }
.asdi   { background-image: url("../img/weapons/Astral_Divide_Pisces.webp"); }
.baim   { background-image: url("../img/weapons/Basilisks_Image_Deathshroud.webp"); }
.dabr   { background-image: url("../img/weapons/Dawn_Breaker_Talwar.webp"); }
.doin   { background-image: url("../img/weapons/Domain_of_Incandescence.webp"); }
.dore   { background-image: url("../img/weapons/Domain_of_Revelation.webp"); }
.dosa   { background-image: url("../img/weapons/Domain_of_Sanction.webp"); }
.dose   { background-image: url("../img/weapons/Domain_of_Sentience.webp"); }
.dovo   { background-image: url("../img/weapons/Domain_of_the_Void.webp"); }
.ecpa   { background-image: url("../img/weapons/Echo_of_Paradise.webp"); }
.elas   { background-image: url("../img/weapons/Elysian_Astra_Hearts_Color.webp"); }
.eogl   { background-image: url("../img/weapons/Eos_Gloria.webp"); }
.fafl   { background-image: url("../img/weapons/Falcon_Flare_FINAL.webp"); }
.frna   { background-image: url("../img/weapons/Frozen_Naraka.webp"); }
.heso   { background-image: url("../img/weapons/Hekates_Sombre.webp"); }
.irhe   { background-image: url("../img/weapons/Iris_of_Helheim.webp"); }
.loco   { background-image: url("../img/weapons/Lost_Conviction_Damnation.webp"); }
.miat   { background-image: url("../img/weapons/Midnight_Ataegina.webp"); }
.miki   { background-image: url("../img/weapons/Miracle_Kissy_Pillow.webp"); }
.miwa   { background-image: url("../img/weapons/Mitternachts_Waltz.webp"); }
.mubl   { background-image: url("../img/weapons/Muramasa_Bloodlust.webp"); }
.paac   { background-image: url("../img/weapons/Path_to_Acheron_Kindred.webp"); }
.obdo   { background-image: url("../img/weapons/Oblivion_Down.webp"); }
.obwi   { background-image: url("../img/weapons/Obscuring_Wing.webp"); }
.pobl   { background-image: url("../img/weapons/Positron_Blasters.webp"); }
.puph   { background-image: url("../img/weapons/Purana_Phantasma.webp"); }
.saas   { background-image: url("../img/weapons/Sagittarius_Astra.webp"); }
.saga   { background-image: url("../img/weapons/Sanguine_Gaze_Union.webp"); }
.sena   { background-image: url("../img/weapons/Seven_Thunders_of_Retribution_Narukami.webp"); }
.seru   { background-image: url("../img/weapons/Seven_Thunders_of_Retribution_Rumble.webp"); }
.skth   { background-image: url("../img/weapons/Skadi_of_Thrymheim.webp"); }
.sldr   { background-image: url("../img/weapons/Sleepers_Dream.webp"); }
.thsa   { background-image: url("../img/weapons/3rd_Sacred_Relic.webp"); }
.topa   { background-image: url("../img/weapons/Tower_of_the_Past_Silk_Ladder.webp"); }
.whpa   { background-image: url("../img/weapons/Whisper_of_the_Past_Sonnet.webp"); }