@import 'modules/mixins';
/* banner images and name sizes */
@include bannerImage(aka,     Argent_Knight_Artemis);
@include bannerImage(aponia,  Disciplinary_Perdition);
@include bannerImage(bke,     Bright_Knight_Excelsis);
@include bannerImage(carole,  Sweet_n_Spicy);
@include bannerImage(cn,	  Chrono_Navi);
@include bannerImage(da,      Dea_Anchora);
@include bannerImage(eden,    Golden_Diva);
@include bannerImage(elysia,  Miss_Pink_Elf);
@include bannerImage(fischl,  Prinzessin_der_Verurteilung);
@include bannerImage(fr,      Fallen_Rosemary);
@include bannerImage(gm,      Goushinnso_Memento);
@include bannerImage(griseo,  Starry_Impression);
@include bannerImage(hofi,    Herrscher_of_Finality);
@include bannerImage(hofs,    Herrscher_of_Flamescion);
@include bannerImage(hoh,     Herrscher_of_Human_Ego);
@include bannerImage(hoo,     Herrscher_of_Origin);
@include bannerImage(hor,     Herrscher_of_Reason);
@include bannerImage(hos,     Herrscher_of_Sentience);
@include bannerImage(hot,     Herrscher_of_Thunder);
@include bannerImage(hotr,    Herrscher_of_Truth);
@include bannerImage(hov,     Herrscher_of_the_Void);
@include bannerImage(lk,      Luna_Kindred);
@include bannerImage(mc,      Fervent_Tempo);
@include bannerImage(mobius,  Infinite_Ouroboros);
@include bannerImage(nyx,     Starchasm_Nyx);
@include bannerImage(pardo,   Reverist_Calico);
@include bannerImage(pe,      Palatinus_Equinox);
@include bannerImage(raven,   Midnight_Absinthe);
@include bannerImage(ri,      Ritual_Imayoh);
@include bannerImage(sk,      Shadow_Knight);
@include bannerImage(sn,      Stygian_Nymph);
@include bannerImage(spa,     Spina_Astera);
@include bannerImage(ss,      Sixth_Serenade);
@include bannerImage(sus,     Jade_Knight);
@include bannerImage(sw,      Silverwing_N-EX);
@include bannerImage(vb,      Striker_Fulminata);
@include bannerImage(ve,      Twilight_Paladin);
@include bannerImage(vg,      Valkyrie_Gloria);
@include bannerImage(villv,   Helical_Contraption);
@include bannerImage(vq,      Valkyrie_Quicksand);
@include bannerImage(vke,	  Vermilion_Knight_Eclipse);