@import 'modules/mixins';
/* emblem images */
@include image(boy,      Because_of_You);
@include image(bf,       Boundless_Feeling);
@include image(bl,       Boundless_Logos);
@include image(b,        Burden);
@include image(dg,       Dreamful_Gold);
@include image(els,      Empty_Like_Shala);
@include image(fas,      Faraway_Ship);
@include image(fipl,     Falling_in_Past_Light);
@include image(ff,       Fragile_Friend);
@include image(foe,      Feast_of_Emptiness);
@include image(fos,      Forbidden_Seed);
@include image(fmt,      Forget_Me_Not);
@include image(gg,       Gold_Goblet);
@include image(god,      Good_Old_Days);
@include image(gsr,      Grey_Scale_Rainbow);
@include image(h,        Hometown);
@include image(haaml,    Heavy_as_a_Million_Lives);
@include image(hl,       Home_Lost);
@include image(iwbw,     It_Will_Be_Written);
@include image(kttd,     Key_to_the_Deep);
@include image(laabl,    Light_as_a_Bodhi_Leaf);
@include image(mkm,      Mad_Kings_Mask);
@include image(m,        Memory);
@include image(oor,      Out_of_Reach);
@include image(pm,       Pseudo_Miracle);
@include image(pogae,    Proof_of_Good_and_Evil);
@include image(r,        Resolve);
@include image(rl,       Ruined_Legacy);
@include image(roa,      Rainbow_of_Absence);
@include image(sts,      Stained_Sakura);
@include image(tc,       Thorny_Crown);
@include image(tf,       Tin_Flask);
@include image(tfs,      The_First_Scale);
@include image(th,       Tsukimi_Himiko);
@include image(tlm,      The_Lonely_Moon);
@include image(vot,      Veil_of_Tears);