@import 'modules/variables';
@import 'modules/mixins';

#guide-container {
    @include wh($w: 100%, $h: 100%);
    position: fixed;

    &::before {
        @include psuedo;
        @include wh($w: 100%, $h: 5px);
    }

    &::after {
        @include psuedo;
        @include wh($w: 100%, $h: 3em);
        background-image: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0.8) 40%, transparent 100%);
    }
}
.bg-fade-in {
    animation: bgfadein 0.5s forwards;
}
.bg-fade-out {
    animation: bgfadeout 0.5s forwards;
}
@keyframes bgfadein {
    from {
        background-color: transparent;
    }
    to {
        background-color: rgba(0, 0, 0, 0.3);
    }
}
@keyframes bgfadeout {
    from {
        background-color: rgba(0, 0, 0, 0.3);
    }
    to {
        background-color: transparent;
    }
}
.guide-content {
    scrollbar-width: none !important;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: 0.3s ease;
    position: fixed;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;

    ::-webkit-scrollbar {
        display: none;
    }

    &.mb {
        @include wh($w: 100%, $h: calc(100% - 25vw));
        transform: translateX(-50%);

        &.upper { @include margin($t: 25vw); }
    }

    &.dt {
        width: 600px;
        border: 3px solid rgba($color: white, $alpha: 0.5);
        transform: translate(-50%, 15%);
    }

	.material-symbols-outlined {
		font-size: 20px;

		&:first-child {
			@include margin($r: 5px);
		}

		&:last-child {
			@include margin($l: 5px);
		}
	}

}
@media only screen and (min-height: 950px) {
    .guide-content.dt { height: 80vh; }
}
@media only screen and (max-height: 949px) {
    .guide-content.dt { height: calc(100vh - 15px); }
}
/* desktop (innerHeight >= 950px) */
@include animationPreset(guide-entry-desktop-n, guideentrydesktopn, 0.6s forwards, $guide-top, $desktop-og, 0, 1);
@include animationPreset(guide-exit-desktop-n, guideexitdesktopn, 0.6s forwards, $desktop-og, $guide-top, 1, 0);
/* desktop (innerHeight <= 949px) */
@include animationPreset(guide-entry-desktop-s, guideentrydesktops, 0.6s forwards, $guide-top, $desktop-s, 0, 1);
@include animationPreset(guide-exit-desktop-s, guideexitdesktops, 0.6s forwards, $desktop-s, $guide-top, 1, 0);
/* mobile */
@include animationPreset(guide-top-entry-mobile, guideopenentrymobile, 0.6s ease-out forwards, $guide-top, $mobile-og, 0, 1);
@include animationPreset(guide-top-exit-mobile, guideopenexitmobile, 0.5s ease-in forwards, $mobile-og, $guide-top, 1, 0);
@include animationPreset(guide-bot-entry-mobile, guidebotentrymobile, 0.6s ease-out forwards, $guide-bot, $mobile-og, 0, 1);
@include animationPreset(guide-bot-exit-mobile, guidebotexitmobile, 0.5s ease-in forwards, $mobile-og, $guide-bot, 1, 0);