@import 'modules/variables';
@import 'modules/mixins';

#main-container {
    overflow-y: hidden;
    background-image: linear-gradient(to top, black, transparent);
    
    &:hover {
        scrollbar-color: $scrollbar-thumb black !important;
        
        &::-webkit-scrollbar-thumb {
            background-color: $scrollbar-thumb;
        }
    }
}
.banner {
    @include padding;
    background-color: transparent;
    border: none;
    cursor: pointer;

    div:nth-child(1) {
        filter: brightness(35%);
    }

    > .desktop {
        @include wh($w: 100px, $h: 800px);
        box-shadow: inset 0 -800px 800px -500px rgba(0, 0, 0, 0.8);
        background-size: cover;
        transition: filter 0.2s;
    }

    &:hover > .desktop {
        filter: brightness(70%);
        transition: 0.2s;
        color: white;
    }

    > .mobile {
        @include wh($w: 100vw, $h: 25vw);
        background-size: cover;
    }
    > .mobile-shadow {
        box-shadow: inset 100px 0px 90px -90px rgba(0, 0, 0, 0.8),
                    inset -100px 0px 90px -90px rgba(0, 0, 0, 0.8);
    }
}
.main-name {
    @include wh($w: 100%, $h: 100%);
    transform: translateY(-100%);
}
.vertical-text {
    font-family: 'Raleway';
    text-transform: uppercase;
    letter-spacing: 8px;
    color: rgba(255, 255, 255, 0.7);

    &.desktop {
        writing-mode: vertical-lr;
        text-orientation: upright;
    }
}
.rating {
    @include margin($t: 10px, $b: 2px);
    font-style: italic;
}
.build-no {
    @include margin($t: 5px);
    font-size: 12px;
}
.rec-signets {
    @include margin($t: 5px, $b: 10px);
}
.signet {
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.8;
}
.anchor {
    @include wh($w: 30px, $h: 30px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(78, 78, 78, 0.2);
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 20px;
    color: $white;

    &:hover {
        cursor: pointer;
        background-color: $white;
        color: black;
    }

    a {
        font-size: 0px;
    }
}
.link-spanner {
    @include wh($w: 100%, $h: 100%);
    transform: translate(-23px, -15px);
}
.sig-tog {
    @include wh($w: 32px, $h: 32px);
}
.sig-sep {
    @include wh($w: 40px, $h: 40px);
}
.signet {
    label {
        @include padding($t: 40px);
        font-family: 'Times New Roman', Times, serif;
        font-size: 10px;
    }
}
.emblem-support {
    justify-content: space-between;
    width: 90%;
}
@media only screen and (max-width: 400px) {
    .emblem-support {
        flex-direction: column;
    }
    .emblem, .supp {
        width: 100% !important;
    }
}
.emblem {
    @include tooltipSizePos(50);
    width: 40%;

    table {
        width: 100%;

        td:nth-child(2), td:nth-child(3) {
            width: 50px;
        }
    }

    .pic { @include wh($w: 50px, $h: 50px); }
}
.supp {
    @include wh($w: 55%, $h: 150px);
    @include tooltipSizePos(50);

    table { width: 100%; }
    p { color: transparent; }

    .pic { height: 50px; }
    .supp-pic:hover {
        .pic {
            filter: brightness(50%);
            transition: 0.3s;
        }
        p {
            color: $white;
            transition: 0.3s;
        }
    }
}
.emblem, .supp {
    span { transform: translateY(-22px); }
}
.exclusive-tbl,
.transitional-tbl,
.main-tbl,
.secondary-tbl {
    width: 50%;
    min-width: 90%;

    &:not(.exclusive-tbl) th:nth-child(1) {
        width: 20%;
    }
}
.gear-tbl {
    @include tooltipSizePos(100);
    margin-top: 10px;
    width: 320px;

    tr:not(thead tr) { height: 80px; }
    span { transform: translateY(-2px); }
    
    .pic { @include wh($w: 80px, $h: 80px); }
}
.pic {
    background: center/cover;
    cursor: pointer;
}
.tooltip {
    @include wh($w: 100%, $h: 100%);

    p {
        transform: translateY(18px);
        height: 25px;
    }
    
    span {
        visibility: hidden;
        text-align: center;
        white-space: nowrap;
        background-color: rgb(34, 34, 34);
        padding: 5px;
        color: $white;
        font-size: 12px;
        border-radius: 6px;
        opacity: 0;
        transition: opacity 0.2s;
    }

    input {
        width: 100%;
        appearance: none;
        cursor: pointer;

        &:checked + span {
            visibility: visible;
            opacity: 1;
        }
    }
}
.notes {
    @include margin($t: 20px, $b: 20px);
    padding: 20px;
    width: 85%;
    font-size: 14px;
    line-height: 20px;

    &:hover {
        background-color: $white;
        color: black;
    }
    p {
        font-weight: bold;
    }
    span {
        font-style: italic;
    }
}