@import 'modules/mixins';
/* weapon images */
@include image(hawp, 0_high_atk_weap);
@include image(abfl, Abyss_Flower_Liminal_Spiral);
@include image(asdi, Astral_Divide_Pisces);
@include image(baim, Basilisks_Image_Deathshroud);
@include image(blda, Blood_Dance);
@include image(codu, Cosmic_Duality);
@include image(dabr, Dawn_Breaker_Talwar);
@include image(doeg, Domain_of_Ego_Flawless_Return);
@include image(doin, Domain_of_Incandescence);
@include image(dore, Domain_of_Revelation);
@include image(dosa, Domain_of_Sanction);
@include image(dose, Domain_of_Sentience);
@include image(dovo, Domain_of_the_Void);
@include image(ecpa, Echo_of_Paradise);
@include image(elas, Elysian_Astra_Hearts_Color);
@include image(eogl, Eos_Gloria);
@include image(fafl, Falcon_Flare_FINAL);
@include image(frna, Frozen_Naraka);
@include image(heso, Hekates_Sombre);
@include image(irhe, Iris_of_Helheim);
@include image(kevo, Keys_of_the_Void);
@include image(loco, Lost_Conviction_Damnation);
@include image(miat, Midnight_Ataegina);
@include image(miec, Midnight_Eclipse);
@include image(miki, Miracle_Kissy_Pillow);
@include image(miwa, Mitternachts_Waltz);
@include image(mubl, Muramasa_Bloodlust);
@include image(nost, Nocturnal_Stealth_Beam);
@include image(obdo, Oblivion_Down);
@include image(obwi, Obscuring_Wing);
@include image(paac, Path_to_Acheron_Kindred);
@include image(pobl, Positron_Blasters);
@include image(puph, Purana_Phantasma);
@include image(rudr, Rudder_in_Dream);
@include image(saas, Sagittarius_Astra);
@include image(saga, Sanguine_Gaze);
@include image(saun, Sanguine_Gaze_Union);
@include image(sena, Seven_Thunders_of_Retribution_Narukami);
@include image(seru, Seven_Thunders_of_Retribution_Rumble);
@include image(shur, Shuhadaku_of_Uriel);
@include image(skth, Skadi_of_Thrymheim);
@include image(sldr, Sleepers_Dream);
@include image(sted, Star_of_Eden_World);
@include image(sumu, Surtr_Muspellsverd);
@include image(thsa, 3rd_Sacred_Relic);
@include image(topa, Tower_of_the_Past_Silk_Ladder);
@include image(whpa, Whisper_of_the_Past_Sonnet);