@mixin wh($w, $h) {
    width: $w;
    height: $h;
}

@mixin margin($t: 0, $r: 0, $b: 0, $l: 0) {
    margin: $t $r $b $l;
}

@mixin padding($t: 0, $r: 0, $b: 0, $l: 0) {
    padding: $t $r $b $l;
}

@mixin header($size) {
    font-size: $size;
    text-align: center;
}

@mixin bannerImages($name, $src, $desktop-offset, $mobile-offset, $desktop-font-size: none, $mobile-font-size: none) {
    ##{$name} {
        background-image: $src;
        &.desktop-pos {
            background-position: $desktop-offset;
        }
        &.mobile-pos {
            transform-origin: top center;
            transform: $mobile-offset;
        }
        ~ .main-name > .desktop {
            font-size: $desktop-font-size;
        }
        ~ .main-name > .mobile {
            font-size: $mobile-font-size;
        }
    }
}

@mixin colorTransition($c, $t) {
    color: $c;
    transition: $t;
}

@mixin cellTransition($end) {
    &:not(th):nth-child(n+2):nth-child(-n+#{$end}) {
        @include colorTransition($c: transparent, $t: 0.3s ease);

        &:hover {
            @include colorTransition($c: $white, $t: 0.2s ease-in);
        }
    }
}

@mixin button {
    visibility: hidden;
    position: fixed;
    cursor: pointer;
    border: none;

    .material-icons {
        font-size: 35px;
    }
}