@mixin wh($w, $h) {
    width: $w;
    height: $h;
}

@mixin margin($t: 0, $r: 0, $b: 0, $l: 0) {
    margin: $t $r $b $l;
}

@mixin padding($t: 0, $r: 0, $b: 0, $l: 0) {
    padding: $t $r $b $l;
}

@mixin header($size) {
    font-size: $size;
    text-align: center;
}

@mixin bannerImage($id, $src, $desktop-font-size, $mobile-font-size) {
    $pre: "../img/" + $src;
    ##{$id}-dt {
        background-image: url($pre + "_dt.png");

        ~ .main-name > .dt {
            font-size: $desktop-font-size;
        }
    }
    ##{$id}-mb {
        background-image: url($pre + "_mb.png");

        ~ .main-name > .mb {
            font-size: $mobile-font-size;
        }
    }
}

@mixin image($class, $name) {
    .#{$class} {
        background-image: url("../img/" + $name + ".png");
    }
}

@mixin colorTransition($c, $t) {
    color: $c;
    transition: $t;
}

@mixin button {
    visibility: hidden;
    position: fixed;
    cursor: pointer;
    border: none;

    .material-icons {
        font-size: 35px;
    }
}

@mixin darkButton {
    border-radius: 50%;
    background-color: rgb(60, 60, 60);
    color: rgba(255, 255, 255, 0.8);

    &:hover {
        background-color: rgba(60, 60, 60, 0.8);
    }
}

@mixin psuedo {
    content: "";
    position: absolute;
    z-index: 1;
    opacity: 0;
}

@mixin animationPreset($class-name, $animation-name, $animation-others, $transform-from, $transform-to, $opacity-from, $opacity-to) {
    .#{$class-name} {
        animation: $animation-name $animation-others;
    }
    @keyframes #{$animation-name} {
        from {
            transform: $transform-from;
            opacity: $opacity-from;
        }
        to {
            transform: $transform-to;
            opacity: $opacity-to;
        }
    }
}

@mixin tooltipSizePos($size) {
    .tooltip {
        transform: translateY(-#{$size}px);
        input {
            height: #{$size}px;
        }
    }
}