$white: rgba(255, 255, 255, 0.8);
$dark-tint: rgba(0, 0, 0, 0.83);
$scrollbar-thumb: rgb(30, 30, 30);
$banner-og: translateY(0px);
$top: translateY(-100px);
$bot: translateY(100px);
$left: translateX(-100px);
$right: translateX(100px);
$desktop-og: translate(-50%, 15%);
$desktop-s: translate(-50%, 5px);
$mobile-og: translateX(-50%);
$guide-top: translate(-50%, -100px);
$guide-bot: translate(-50%, 100px);