/* webkit scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3c3c3c;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.83);
}

body::-webkit-scrollbar-track {
  background-color: black;
}

/* guide scrollbar */
.guide-container ::-webkit-scrollbar-thumb,
.guide-container ::-webkit-scrollbar-track {
  background-color: transparent;
}

* {
  /* mozilla scrollbar */
  scrollbar-color: transparent black !important;
  scrollbar-width: thin !important;
}

/* cover */
#cover {
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 1;
}

#progress-bar {
  width: 50%;
  height: 5px;
  background-color: #222;
}

#meter {
  width: 0;
  height: 5px;
  background-color: gray;
  border-radius: 5px;
}

#main-container {
  overflow-y: hidden;
  background-image: -webkit-gradient(linear, left bottom, left top, from(black), to(transparent));
  background-image: linear-gradient(to top, black, transparent);
}

#main-container:hover {
  scrollbar-color: #1e1e1e black !important;
}

#main-container:hover::-webkit-scrollbar-thumb {
  background-color: #1e1e1e;
}

.banner {
  padding: 0 0 0 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.banner div:nth-child(1) {
  -webkit-filter: brightness(35%);
          filter: brightness(35%);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.banner:hover div:nth-child(1) {
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: white;
}

.banner > .desktop {
  width: 100px;
  height: 800px;
  -webkit-box-shadow: inset 0 -800px 800px -500px rgba(0, 0, 0, 0.8);
          box-shadow: inset 0 -800px 800px -500px rgba(0, 0, 0, 0.8);
  background-size: cover;
}

.banner > .mobile {
  width: 100vw;
  height: 25vw;
  background-size: contain;
  background-repeat: no-repeat;
}

.banner > .mobile-shadow {
  -webkit-box-shadow: inset 100px 0px 90px -90px rgba(0, 0, 0, 0.8), inset -100px 0px 90px -90px rgba(0, 0, 0, 0.8);
          box-shadow: inset 100px 0px 90px -90px rgba(0, 0, 0, 0.8), inset -100px 0px 90px -90px rgba(0, 0, 0, 0.8);
}

.main-name {
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.vertical-text {
  font-family: 'Raleway';
  text-transform: uppercase;
  letter-spacing: 8px;
  color: rgba(255, 255, 255, 0.7);
}

.vertical-text.desktop {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  text-orientation: upright;
}

#rating {
  margin: 10px 0 2px 0;
  font-style: italic;
}

.build-no {
  margin: 5px 0 0 0;
  font-size: 12px;
}

.rec-signets {
  margin: 5px 0 10px 0;
}

.signet {
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.8;
}

.anchor {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(78, 78, 78, 0.2);
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
}

.anchor:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}

.anchor a {
  font-size: 0px;
}

.link-spanner {
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-23px, -15px);
          transform: translate(-23px, -15px);
}

.sig-tog {
  width: 32px;
  height: 32px;
}

.sig-sep {
  width: 40px;
  height: 40px;
}

.signet label {
  padding: 40px 0 0 0;
  font-family: 'Times New Roman', Times, serif;
  font-size: 10px;
}

#emblem-support {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
}

@media only screen and (max-width: 400px) {
  .emblem-support {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .emblem, .supp {
    width: 100% !important;
  }
}

#emblem {
  width: 40%;
}

#emblem table {
  width: 100%;
}

#emblem table:not(th):nth-child(n+2):nth-child(-n+5) {
  color: transparent;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

#emblem table:not(th):nth-child(n+2):nth-child(-n+5):hover {
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

#emblem table td:nth-child(2), #emblem table th:nth-child(2), #emblem table td:nth-child(3), #emblem table th:nth-child(3) {
  width: 50px;
}

#supp {
  width: 55%;
  height: 150px;
}

#supp table {
  width: 100%;
}

#supp table td:not(th):nth-child(n+2):nth-child(-n+5), #supp table th:not(th):nth-child(n+2):nth-child(-n+5) {
  color: transparent;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

#supp table td:not(th):nth-child(n+2):nth-child(-n+5):hover, #supp table th:not(th):nth-child(n+2):nth-child(-n+5):hover {
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

#supp .supp-pic:hover .pic {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#exclusive-tbl,
#transitional-tbl,
#main-tbl,
#secondary-tbl {
  width: 50%;
  min-width: 90%;
}

#exclusive-tbl:not(#exclusive-tbl) th:nth-child(1),
#transitional-tbl:not(#exclusive-tbl) th:nth-child(1),
#main-tbl:not(#exclusive-tbl) th:nth-child(1),
#secondary-tbl:not(#exclusive-tbl) th:nth-child(1) {
  width: 20%;
}

.pic {
  background: center/cover;
  height: 50px;
  cursor: pointer;
}

.tooltip {
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

.tooltip p {
  -webkit-transform: translateY(18px);
          transform: translateY(18px);
  height: 25px;
}

.tooltip span {
  visibility: hidden;
  text-align: center;
  white-space: nowrap;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  background-color: #222222;
  padding: 5px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
  border-radius: 6px;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.tooltip input {
  width: 100%;
  height: 50px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

.tooltip input:checked + span {
  visibility: visible;
  opacity: 1;
}

.notes {
  margin: 20px 0 20px 0;
  padding: 20px;
  width: 85%;
  font-size: 14px;
  line-height: 20px;
}

.notes:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}

.notes p {
  font-weight: bold;
}

.notes span {
  font-style: italic;
}

/* banner images, offsets, and name sizes */
#aka {
  background-image: url("../img/valks/Argent_Knight_Artemis.webp");
}

#aka.desktop-pos {
  background-position: 57%;
}

#aka.mobile-pos {
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transform: scale(14) translate(30.4%, -18%);
          transform: scale(14) translate(30.4%, -18%);
}

#aka ~ .main-name > .desktop {
  font-size: 20px;
}

#aka ~ .main-name > .mobile {
  font-size: 7vw;
}

#bke {
  background-image: url("../img/valks/Bright_Knight_Excelsis.webp");
}

#bke.desktop-pos {
  background-position: 50%;
}

#bke.mobile-pos {
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transform: scale(16) translate(33.5%, -16%);
          transform: scale(16) translate(33.5%, -16%);
}

#bke ~ .main-name > .desktop {
  font-size: 20px;
}

#bke ~ .main-name > .mobile {
  font-size: 7vw;
}

#carole {
  background-image: url("../img/valks/Sweet_n_Spicy.webp");
}

#carole.desktop-pos {
  background-position: 51.4%;
}

#carole.mobile-pos {
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transform: scale(13) translate(40.1%, -16%);
          transform: scale(13) translate(40.1%, -16%);
}

#carole ~ .main-name > .desktop {
  font-size: 35px;
}

#carole ~ .main-name > .mobile {
  font-size: 7vw;
}

#da {
  background-image: url("../img/valks/Dea_Anchora.webp");
}

#da.desktop-pos {
  background-position: 52.7%;
}

#da.mobile-pos {
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transform: scale(15) translate(31.63%, -16%);
          transform: scale(15) translate(31.63%, -16%);
}

#da ~ .main-name > .desktop {
  font-size: 35px;
}

#da ~ .main-name > .mobile {
  font-size: 9vw;
}

#dip {
  background-image: url("../img/valks/Disciplinary_Perdition.webp");
}

#dip.desktop-pos {
  background-position: 55.3%;
}

#dip.mobile-pos {
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transform: scale(15) translate(30.2%, -18%);
          transform: scale(15) translate(30.2%, -18%);
}

#dip ~ .main-name > .desktop {
  font-size: 20px;
}

#dip ~ .main-name > .mobile {
  font-size: 7vw;
}

#ede {
  background-image: url("../img/valks/Golden_Diva.webp");
}

#ede.desktop-pos {
  background-position: 52.5%;
}

#ede.mobile-pos {
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transform: scale(15) translate(36%, -17%);
          transform: scale(15) translate(36%, -17%);
}

#ede ~ .main-name > .desktop {
  font-size: 35px;
}

#ede ~ .main-name > .mobile {
  font-size: 9vw;
}

#elysia {
  background-image: url("../img/valks/Miss_Pink_Elf.webp");
}

#elysia.desktop-pos {
  background-position: 52%;
}

#elysia.mobile-pos {
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transform: scale(14) translate(30.2%, -15%);
          transform: scale(14) translate(30.2%, -15%);
}

#elysia ~ .main-name > .desktop {
  font-size: 30px;
}

#elysia ~ .main-name > .mobile {
  font-size: 8vw;
}

#fr {
  background-image: url("../img/valks/Fallen_Rosemary.webp");
}

#fr.desktop-pos {
  background-position: 56.2%;
}

#fr.mobile-pos {
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transform: scale(14) translate(28%, -19%);
          transform: scale(14) translate(28%, -19%);
}

#fr ~ .main-name > .desktop {
  font-size: 28px;
}

#fr ~ .main-name > .mobile {
  font-size: 6vw;
}

#fischl {
  background-image: url("../img/valks/Prinzessin_der_Verurteilung.webp");
}

#fischl.desktop-pos {
  background-position: 57%;
}

#fischl.mobile-pos {
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transform: scale(13) translate(34%, -15%);
          transform: scale(13) translate(34%, -15%);
}

#fischl ~ .main-name > .desktop {
  font-size: 16px;
}

#fischl ~ .main-name > .mobile {
  font-size: 7vw;
}

#hofs {
  background-image: url("../img/valks/Herrscher_of_Flamescion.webp");
}

#hofs.desktop-pos {
  background-position: 53.7%;
}

#hofs.mobile-pos {
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transform: scale(15) translate(28.9%, -16.7%);
          transform: scale(15) translate(28.9%, -16.7%);
}

#hofs ~ .main-name > .desktop {
  font-size: 20px;
}

#hofs ~ .main-name > .mobile {
  font-size: 7vw;
}

#hor {
  background-image: url("../img/valks/Herrscher_of_Reason.webp");
}

#hor.desktop-pos {
  background-position: 54.1%;
}

#hor.mobile-pos {
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transform: scale(14) translate(36.9%, -17%);
          transform: scale(14) translate(36.9%, -17%);
}

#hor ~ .main-name > .desktop {
  font-size: 22px;
}

#hor ~ .main-name > .mobile {
  font-size: 7vw;
}

#hos {
  background-image: url("../img/valks/Herrscher_of_Sentience.webp");
}

#hos.desktop-pos {
  background-position: 51.2%;
}

#hos.mobile-pos {
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transform: scale(14) translate(29.6%, -14%);
          transform: scale(14) translate(29.6%, -14%);
}

#hos ~ .main-name > .desktop {
  font-size: 20px;
}

#hos ~ .main-name > .mobile {
  font-size: 7vw;
}

#hot {
  background-image: url("../img/valks/Herrscher_of_Thunder.webp");
}

#hot.desktop-pos {
  background-position: 57%;
}

#hot.mobile-pos {
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transform: scale(14) translate(26.7%, -15.1%);
          transform: scale(14) translate(26.7%, -15.1%);
}

#hot ~ .main-name > .desktop {
  font-size: 22px;
}

#hot ~ .main-name > .mobile {
  font-size: 7vw;
}

#lk {
  background-image: url("../img/valks/Luna_Kindred.webp");
}

#lk.desktop-pos {
  background-position: 44.8%;
}

#lk.mobile-pos {
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transform: scale(10) translate(35.4%, -14%);
          transform: scale(10) translate(35.4%, -14%);
}

#lk ~ .main-name > .desktop {
  font-size: 35px;
}

#lk ~ .main-name > .mobile {
  font-size: 8vw;
}

#mobius {
  background-image: url("../img/valks/Infinite_Ouroboros.webp");
}

#mobius.desktop-pos {
  background-position: 52.8%;
}

#mobius.mobile-pos {
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transform: scale(14) translate(29%, -15.6%);
          transform: scale(14) translate(29%, -15.6%);
}

#mobius ~ .main-name > .desktop {
  font-size: 25px;
}

#mobius ~ .main-name > .mobile {
  font-size: 8vw;
}

#nyx {
  background-image: url("../img/valks/Starchasm_Nyx.webp");
}

#nyx.desktop-pos {
  background-position: 49.3%;
}

#nyx.mobile-pos {
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transform: scale(13) translate(30.8%, -15.4%);
          transform: scale(13) translate(30.8%, -15.4%);
}

#nyx ~ .main-name > .desktop {
  font-size: 35px;
}

#nyx ~ .main-name > .mobile {
  font-size: 7vw;
}

#pe {
  background-image: url("../img/valks/Palatinus_Equinox.webp");
}

#pe.desktop-pos {
  background-position: 48.76%;
}

#pe.mobile-pos {
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transform: scale(14) translate(30.5%, -11.6%);
          transform: scale(14) translate(30.5%, -11.6%);
}

#pe ~ .main-name > .desktop {
  font-size: 28px;
}

#pe ~ .main-name > .mobile {
  font-size: 8vw;
}

#raven {
  background-image: url("../img/valks/Midnight_Absinthe.webp");
}

#raven.desktop-pos {
  background-position: 53.4%;
}

#raven.mobile-pos {
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transform: scale(14) translate(29.3%, -15.2%);
          transform: scale(14) translate(29.3%, -15.2%);
}

#raven ~ .main-name > .desktop {
  font-size: 25px;
}

#raven ~ .main-name > .mobile {
  font-size: 8vw;
}

#rc {
  background-image: url("../img/valks/Reverist_Calico.webp");
}

#rc.desktop-pos {
  background-position: 56.4%;
}

#rc.mobile-pos {
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transform: scale(13) translate(28%, -17%);
          transform: scale(13) translate(28%, -17%);
}

#rc ~ .main-name > .desktop {
  font-size: 30px;
}

#rc ~ .main-name > .mobile {
  font-size: 8vw;
}

#ri {
  background-image: url("../img/valks/Ritual_Imayoh.webp");
}

#ri.desktop-pos {
  background-position: 55%;
}

#ri.mobile-pos {
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transform: scale(10) translate(34%, -11.2%);
          transform: scale(10) translate(34%, -11.2%);
}

#ri ~ .main-name > .desktop {
  font-size: 35px;
}

#ri ~ .main-name > .mobile {
  font-size: 8vw;
}

#sn {
  background-image: url("../img/valks/Stygian_Nymph.webp");
}

#sn.desktop-pos {
  background-position: 44.6%;
}

#sn.mobile-pos {
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transform: scale(12) translate(31.2%, -16.8%);
          transform: scale(12) translate(31.2%, -16.8%);
}

#sn ~ .main-name > .desktop {
  font-size: 32px;
}

#sn ~ .main-name > .mobile {
  font-size: 7vw;
}

#spa {
  background-image: url("../img/valks/Spina_Astera.webp");
}

#spa.desktop-pos {
  background-position: 49.5%;
}

#spa.mobile-pos {
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transform: scale(13) translate(30.4%, -15%);
          transform: scale(13) translate(30.4%, -15%);
}

#spa ~ .main-name > .desktop {
  font-size: 35px;
}

#spa ~ .main-name > .mobile {
  font-size: 9vw;
}

#stfu {
  background-image: url("../img/valks/Striker_Fulminata.webp");
}

#stfu.desktop-pos {
  background-position: 61.8%;
}

#stfu.mobile-pos {
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transform: scale(16) translate(39.2%, -16.8%);
          transform: scale(16) translate(39.2%, -16.8%);
}

#stfu ~ .main-name > .desktop {
  font-size: 22px;
}

#stfu ~ .main-name > .mobile {
  font-size: 7vw;
}

#sw {
  background-image: url("../img/valks/Silverwing_N-EX.webp");
}

#sw.desktop-pos {
  background-position: 58.3%;
}

#sw.mobile-pos {
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transform: scale(14) translate(33.9%, -16.7%);
          transform: scale(14) translate(33.9%, -16.7%);
}

#sw ~ .main-name > .desktop {
  font-size: 30px;
}

#sw ~ .main-name > .mobile {
  font-size: 8vw;
}

#tp {
  background-image: url("../img/valks/Twilight_Paladin.webp");
}

#tp.desktop-pos {
  background-position: 47.18%;
}

#tp.mobile-pos {
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transform: scale(11) translate(35.2%, -15.3%);
          transform: scale(11) translate(35.2%, -15.3%);
}

#tp ~ .main-name > .desktop {
  font-size: 30px;
}

#tp ~ .main-name > .mobile {
  font-size: 6vw;
}

#vg {
  background-image: url("../img/valks/Valkyrie_Gloria.webp");
}

#vg.desktop-pos {
  background-position: 50%;
}

#vg.mobile-pos {
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transform: scale(15) translate(34.2%, -16%);
          transform: scale(15) translate(34.2%, -16%);
}

#vg ~ .main-name > .desktop {
  font-size: 30px;
}

#vg ~ .main-name > .mobile {
  font-size: 7vw;
}

/* signet imaages */
.aponia {
  background-image: url("../img/signets/Aponia_Signet.webp");
}

.eden {
  background-image: url("../img/signets/Eden_Signet.webp");
}

.griseo {
  background-image: url("../img/signets/Griseo_Signet.webp");
}

.hua {
  background-image: url("../img/signets/Hua_Signet.webp");
}

.kalpas {
  background-image: url("../img/signets/Kalpas_Signet.webp");
}

.kevin {
  background-image: url("../img/signets/Kevin_Signet.webp");
}

.kosma {
  background-image: url("../img/signets/Kosma_Signet.webp");
}

.mobius {
  background-image: url("../img/signets/Mobius_Signet.webp");
}

.pardofelis {
  background-image: url("../img/signets/Pardofelis_Signet.webp");
}

.sakura {
  background-image: url("../img/signets/Sakura_Signet.webp");
}

.su {
  background-image: url("../img/signets/Su_Signet.webp");
}

.vill-v {
  background-image: url("../img/signets/Vill-V_Signet.webp");
}

/* emblem images */
.boy {
  background-image: url("../img/emblems/Because_of_You.webp");
}

.bl {
  background-image: url("../img/emblems/Boundless_Logos.webp");
}

.b {
  background-image: url("../img/emblems/Burden.webp");
}

.dg {
  background-image: url("../img/emblems/Dreamful_Gold.webp");
}

.els {
  background-image: url("../img/emblems/Empty_Like_Shala.webp");
}

.fipl {
  background-image: url("../img/emblems/Falling_in_Past_Light.webp");
}

.fs {
  background-image: url("../img/emblems/Forbidden_Seed.webp");
}

.fmt {
  background-image: url("../img/emblems/Forget_Me_Not.webp");
}

.gg {
  background-image: url("../img/emblems/Gold_Goblet.webp");
}

.god {
  background-image: url("../img/emblems/Good_Old_Days.webp");
}

.gsr {
  background-image: url("../img/emblems/Grey_Scale_Rainbow.webp");
}

.h {
  background-image: url("../img/emblems/Hometown.webp");
}

.haaml {
  background-image: url("../img/emblems/Heavy_as_a_Million_Lives.webp");
}

.hl {
  background-image: url("../img/emblems/Home_Lost.webp");
}

.iwbw {
  background-image: url("../img/emblems/It_Will_Be_Written.webp");
}

.kttd {
  background-image: url("../img/emblems/Key_to_the_Deep.webp");
}

.laabl {
  background-image: url("../img/emblems/Light_as_a_Bodhi_Leaf.webp");
}

.mkm {
  background-image: url("../img/emblems/Mad_Kings_Mask.webp");
}

.m {
  background-image: url("../img/emblems/Memory.webp");
}

.oor {
  background-image: url("../img/emblems/Out_of_Reach.webp");
}

.pm {
  background-image: url("../img//emblems/Pseudo_Miracle.webp");
}

.r {
  background-image: url("../img/emblems/Resolve.webp");
}

.roa {
  background-image: url("../img/emblems/Rainbow_of_Absence.webp");
}

.sts {
  background-image: url("../img/emblems/Stained_Sakura.webp");
}

.tc {
  background-image: url("../img/emblems/Thorny_Crown.webp");
}

.tfs {
  background-image: url("../img/emblems/The_First_Scale.webp");
}

.th {
  background-image: url("../img/emblems/Tsukimi_Himiko.webp");
}

.tlm {
  background-image: url("../img/emblems/The_Lonely_Moon.webp");
}

/* support valk images */
.ae {
  background-image: url("../img/avatars/Azure_Empyrea_Avatar.webp");
}

.bke {
  background-image: url("../img/avatars/Bright_Knight_Excelsis_Avatar.webp");
}

.br {
  background-image: url("../img/avatars/Blood_Rose_Avatar.webp");
}

.dp {
  background-image: url("../img/avatars/Divine_Prayer_Avatar.webp");
}

.hb {
  background-image: url("../img/avatars/Haxxor_Bunny_Avatar.webp");
}

.le {
  background-image: url("../img/avatars/Lightning_Empress_Avatar.webp");
}

.ma {
  background-image: url("../img/avatars/Midnight_Absinthe_Avatar.webp");
}

.rc {
  background-image: url("../img/avatars/Reverist_Calico_Avatar.webp");
}

.sa {
  background-image: url("../img/avatars/Starlit_Astrologos_Avatar.webp");
}

.ss {
  background-image: url("../img/avatars/Snowy_Sniper_Avatar.webp");
}

.vc {
  background-image: url("../img/avatars/Valkyrie_Chariot_Avatar.webp");
}

#guide-container {
  width: 100%;
  height: 100%;
  position: fixed;
}

#guide-container::before {
  content: "";
  position: absolute;
  z-index: 1;
  opacity: 0;
  width: 100%;
  height: 5px;
}

#guide-container::after {
  content: "";
  position: absolute;
  z-index: 1;
  opacity: 0;
  width: 100%;
  height: 3em;
  background-image: -webkit-gradient(linear, left bottom, left top, from(black), color-stop(30%, rgba(0, 0, 0, 0.9)), to(transparent));
  background-image: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0.9) 30%, transparent 100%);
}

.bg-fade-in {
  -webkit-animation: bgfadein 0.5s;
          animation: bgfadein 0.5s;
}

.bg-fade-out {
  -webkit-animation: bgfadeout 0.5s;
          animation: bgfadeout 0.5s;
}

@-webkit-keyframes bgfadein {
  from {
    background-color: transparent;
  }
  to {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

@keyframes bgfadein {
  from {
    background-color: transparent;
  }
  to {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

@-webkit-keyframes bgfadeout {
  from {
    background-color: rgba(0, 0, 0, 0.3);
  }
  to {
    background-color: transparent;
  }
}

@keyframes bgfadeout {
  from {
    background-color: rgba(0, 0, 0, 0.3);
  }
  to {
    background-color: transparent;
  }
}

#guide-content {
  scrollbar-width: none !important;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  position: fixed;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
}

#guide-content ::-webkit-scrollbar {
  display: none;
}

#guide-content.mobile {
  width: 100%;
  height: calc(100vh - 25vw);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#guide-content.mobile.upper {
  margin-top: 25vw;
}

#guide-content.mobile.lower {
  height: calc(100vh - 100vw / 4);
}

#guide-content.desktop {
  width: 600px;
  height: 800px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  -webkit-transform: translate(-50%, 15%);
          transform: translate(-50%, 15%);
}

/* desktop */
.guide-entry-desktop {
  -webkit-animation: guideentrydesktop 0.6s;
          animation: guideentrydesktop 0.6s;
}

@-webkit-keyframes guideentrydesktop {
  from {
    -webkit-transform: translate(-50%, -100px);
            transform: translate(-50%, -100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(-50%, 15%);
            transform: translate(-50%, 15%);
    opacity: 1;
  }
}

@keyframes guideentrydesktop {
  from {
    -webkit-transform: translate(-50%, -100px);
            transform: translate(-50%, -100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(-50%, 15%);
            transform: translate(-50%, 15%);
    opacity: 1;
  }
}

.guide-exit-desktop {
  -webkit-animation: guideexitdesktop 0.6s;
          animation: guideexitdesktop 0.6s;
}

@-webkit-keyframes guideexitdesktop {
  from {
    -webkit-transform: translate(-50%, 15%);
            transform: translate(-50%, 15%);
    opacity: 1;
  }
  to {
    -webkit-transform: translate(-50%, -100px);
            transform: translate(-50%, -100px);
    opacity: 0;
  }
}

@keyframes guideexitdesktop {
  from {
    -webkit-transform: translate(-50%, 15%);
            transform: translate(-50%, 15%);
    opacity: 1;
  }
  to {
    -webkit-transform: translate(-50%, -100px);
            transform: translate(-50%, -100px);
    opacity: 0;
  }
}

/* mobile */
.guide-top-entry-mobile {
  -webkit-animation: guideopenentrymobile 0.6s 0.1s cubic-bezier(0.55, 0.06, 0.68, 0.19);
          animation: guideopenentrymobile 0.6s 0.1s cubic-bezier(0.55, 0.06, 0.68, 0.19);
}

@-webkit-keyframes guideopenentrymobile {
  from {
    -webkit-transform: translate(-50%, -100px);
            transform: translate(-50%, -100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 1;
  }
}

@keyframes guideopenentrymobile {
  from {
    -webkit-transform: translate(-50%, -100px);
            transform: translate(-50%, -100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 1;
  }
}

.guide-top-exit-mobile {
  -webkit-animation: guideopenexitmobile 0.5s;
          animation: guideopenexitmobile 0.5s;
}

@-webkit-keyframes guideopenexitmobile {
  from {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 1;
  }
  to {
    -webkit-transform: translate(-50%, -100px);
            transform: translate(-50%, -100px);
    opacity: 0;
  }
}

@keyframes guideopenexitmobile {
  from {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 1;
  }
  to {
    -webkit-transform: translate(-50%, -100px);
            transform: translate(-50%, -100px);
    opacity: 0;
  }
}

.guide-bot-entry-mobile {
  -webkit-animation: guidebotentrymobile 0.6s 0.1s cubic-bezier(0.55, 0.06, 0.68, 0.19);
          animation: guidebotentrymobile 0.6s 0.1s cubic-bezier(0.55, 0.06, 0.68, 0.19);
}

@-webkit-keyframes guidebotentrymobile {
  from {
    -webkit-transform: translate(-50%, 100px);
            transform: translate(-50%, 100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 1;
  }
}

@keyframes guidebotentrymobile {
  from {
    -webkit-transform: translate(-50%, 100px);
            transform: translate(-50%, 100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 1;
  }
}

.guide-bot-exit-mobile {
  -webkit-animation: guidebotexitmobile 0.5s;
          animation: guidebotexitmobile 0.5s;
}

@-webkit-keyframes guidebotexitmobile {
  from {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 1;
  }
  to {
    -webkit-transform: translate(-50%, 100px);
            transform: translate(-50%, 100px);
    opacity: 0;
  }
}

@keyframes guidebotexitmobile {
  from {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 1;
  }
  to {
    -webkit-transform: translate(-50%, 100px);
            transform: translate(-50%, 100px);
    opacity: 0;
  }
}

/* about page */
#about #container {
  background-color: rgba(0, 0, 0, 0.83);
  height: 100vh;
}

#about #sub-container {
  scrollbar-color: #282828 transparent !important;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  width: 600px;
  max-width: 90%;
  padding: 20px;
  overflow-y: auto;
}

#about #sub-container::-webkit-scrollbar-track {
  background-color: transparent;
}

#about .cell-center {
  width: 25px;
}

#about .sideways {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#about #timeline {
  max-width: 400px;
}

#about #timeline th:nth-child(1) {
  width: 10%;
}

#about h5 {
  font-size: 30px;
}

#about h6 {
  font-size: 24px;
}

#about p, #about li {
  line-height: 1.2;
}

#about table {
  margin: auto;
}

#about table td, #about table th {
  border: 1px solid rgba(255, 255, 255, 0.8);
}

#about table th {
  vertical-align: middle;
  font-size: unset;
  width: 20%;
}

#about hr, #about a {
  color: rgba(255, 255, 255, 0.8);
}

@media only screen and (max-width: 640px) {
  #sub-container {
    width: auto;
    height: unset;
    overflow-y: unset;
  }
  #about #container {
    height: initial;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fh-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fv-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.f-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.f-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.pos-abs {
  position: absolute;
}

.pos-rel {
  position: relative;
}

.overflow-hide {
  overflow: hidden;
}

.fade {
  -webkit-animation: fade 1s forwards;
          animation: fade 1s forwards;
}

@-webkit-keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.hidden {
  opacity: 0 !important;
}

/* desktop banner animaitons */
.fade-in-up {
  -webkit-animation: fadeinup 2s;
          animation: fadeinup 2s;
}

@-webkit-keyframes fadeinup {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fadeinup {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

.fade-in-down {
  -webkit-animation: fadeindown 2s;
          animation: fadeindown 2s;
}

@-webkit-keyframes fadeindown {
  from {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fadeindown {
  from {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

/* mobile banner animations */
.fade-in-left {
  -webkit-animation: fadeinleft 2s;
          animation: fadeinleft 2s;
}

@-webkit-keyframes fadeinleft {
  from {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fadeinleft {
  from {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

.fade-in-right {
  -webkit-animation: fadeinright 2s;
          animation: fadeinright 2s;
}

@-webkit-keyframes fadeinright {
  from {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fadeinright {
  from {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

.table-cell-hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}

.noted {
  background-color: rgba(70, 70, 70, 0.5);
}

body {
  background: url("../img/bg.webp") no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.8);
}

header {
  background-color: rgba(0, 0, 0, 0.83);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

header * {
  -webkit-animation: headeranim 5s;
          animation: headeranim 5s;
}

header p {
  margin: 20px 0 10px 0;
  font-style: italic;
}

header a {
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
}

@media only screen and (max-height: 1100px) {
  header {
    padding: 20px 0 20px 0;
  }
}

@-webkit-keyframes headeranim {
  from {
    color: transparent;
  }
  to {
    color: rgba(255, 255, 255, 0.8);
  }
}

@keyframes headeranim {
  from {
    color: transparent;
  }
  to {
    color: rgba(255, 255, 255, 0.8);
  }
}

main {
  background-color: rgba(0, 0, 0, 0.83);
}

footer {
  background-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0.75)));
  background-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.75));
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

h1 {
  font-size: 4em;
  text-align: center;
  letter-spacing: 10px;
  text-transform: uppercase;
}

h2 {
  font-size: 40px;
  text-align: center;
  margin: 10px 0 0 0;
  letter-spacing: 3px;
}

h3 {
  font-size: 30px;
  text-align: center;
  margin: 20px 0 0 0;
  line-height: 40px;
}

td, #about table th, th {
  background: center/cover;
  text-align: center;
  vertical-align: middle;
}

th {
  font-size: 20px;
}

tr {
  height: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

tr:last-child:not(thead tr) {
  border-bottom: unset;
}

#close {
  visibility: hidden;
  position: fixed;
  cursor: pointer;
  border: none;
  z-index: 1;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
}

#close .material-icons {
  font-size: 35px;
}

#close:hover {
  color: rgba(255, 255, 255, 0.8);
}

#goToTop {
  visibility: hidden;
  position: fixed;
  cursor: pointer;
  border: none;
  width: 50px;
  height: 50px;
  padding: 5px 0 0 0;
  border-radius: 50%;
  background-color: #3c3c3c;
  color: rgba(255, 255, 255, 0.8);
}

#goToTop .material-icons {
  font-size: 35px;
}

#goToTop:hover {
  background-color: rgba(60, 60, 60, 0.8);
}

li {
  margin: 0 0 10px 15px;
  list-style: initial;
}

strong {
  font-weight: bold;
}
/*# sourceMappingURL=styles.css.map */