/* webkit scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(60, 60, 60);
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.83);
}

body::-webkit-scrollbar-track {
  background-color: black;
}

/* guide scrollbar */
.guide-container ::-webkit-scrollbar-thumb,
.guide-container ::-webkit-scrollbar-track {
  background-color: transparent;
}

* {
  /* mozilla scrollbar */
  scrollbar-color: transparent black !important;
  scrollbar-width: thin !important;
}

/* cover */
#cover {
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 1;
}

#progress-bar {
  width: 50%;
  height: 5px;
  background-color: #222;
}

#meter {
  width: 0;
  height: 5px;
  background-color: gray;
  border-radius: 5px;
}

#error-msg {
  font-size: 22px;
}

#refresh {
  border-radius: 50%;
  background-color: rgb(60, 60, 60);
  color: rgba(255, 255, 255, 0.8);
  width: 40px;
  height: 40px;
  margin: 10px 0 0 0;
  padding: 4px 0 0 0;
  cursor: pointer;
  border: none;
}
#refresh:hover {
  background-color: rgba(60, 60, 60, 0.8);
}

#main-container {
  overflow-y: hidden;
  background-image: linear-gradient(to top, black, transparent);
}
#main-container:hover {
  scrollbar-color: rgb(30, 30, 30) black !important;
}
#main-container:hover::-webkit-scrollbar-thumb {
  background-color: rgb(30, 30, 30);
}

.banner {
  padding: 0 0 0 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.banner div:nth-child(1) {
  filter: brightness(35%);
  transition: 0.2s;
}
.banner:hover div:nth-child(1) {
  filter: brightness(70%);
  transition: 0.2s;
  color: white;
}
.banner > .desktop {
  width: 100px;
  height: 800px;
  box-shadow: inset 0 -800px 800px -500px rgba(0, 0, 0, 0.8);
  background-size: cover;
}
.banner > .mobile {
  width: 100vw;
  height: 25vw;
  background-size: contain;
  background-repeat: no-repeat;
}
.banner > .mobile-shadow {
  box-shadow: inset 100px 0px 90px -90px rgba(0, 0, 0, 0.8), inset -100px 0px 90px -90px rgba(0, 0, 0, 0.8);
}

.main-name {
  width: 100%;
  height: 100%;
  transform: translateY(-100%);
}

.vertical-text {
  font-family: "Raleway";
  text-transform: uppercase;
  letter-spacing: 8px;
  color: rgba(255, 255, 255, 0.7);
}
.vertical-text.desktop {
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  text-orientation: upright;
}

.rating {
  margin: 10px 0 2px 0;
  font-style: italic;
}

.build-no {
  margin: 5px 0 0 0;
  font-size: 12px;
}

.rec-signets {
  margin: 5px 0 10px 0;
}

.signet {
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.8;
}

.anchor {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(78, 78, 78, 0.2);
  font-family: "Raleway";
  font-weight: bold;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
}
.anchor:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}
.anchor a {
  font-size: 0px;
}

.link-spanner {
  width: 100%;
  height: 100%;
  transform: translate(-23px, -15px);
}

.sig-tog {
  width: 32px;
  height: 32px;
}

.sig-sep {
  width: 40px;
  height: 40px;
}

.signet label {
  padding: 40px 0 0 0;
  font-family: "Times New Roman", Times, serif;
  font-size: 10px;
}

.emblem-support {
  justify-content: space-between;
  width: 90%;
}

@media only screen and (max-width: 400px) {
  .emblem-support {
    flex-direction: column;
  }
  .emblem, .supp {
    width: 100% !important;
  }
}
.emblem {
  width: 40%;
}
.emblem .tooltip {
  transform: translateY(-50px);
}
.emblem .tooltip input {
  height: 50px;
}
.emblem table {
  width: 100%;
}
.emblem table td:nth-child(2), .emblem table th:nth-child(2), .emblem #about table th:nth-child(2), #about .emblem table th:nth-child(2), .emblem table td:nth-child(3), .emblem table th:nth-child(3), .emblem #about table th:nth-child(3), #about .emblem table th:nth-child(3) {
  width: 50px;
}
.emblem .pic {
  width: 50px;
  height: 50px;
}

.supp {
  width: 55%;
  height: 150px;
}
.supp .tooltip {
  transform: translateY(-50px);
}
.supp .tooltip input {
  height: 50px;
}
.supp table {
  width: 100%;
}
.supp p {
  color: transparent;
}
.supp .pic {
  height: 50px;
}
.supp .supp-pic:hover .pic {
  filter: brightness(50%);
  transition: 0.3s;
}
.supp .supp-pic:hover p {
  color: rgba(255, 255, 255, 0.8);
  transition: 0.3s;
}

.emblem span, .supp span {
  transform: translateY(-22px);
}

.exclusive-tbl,
.transitional-tbl,
.main-tbl,
.secondary-tbl {
  width: 50%;
  min-width: 90%;
}
.exclusive-tbl:not(.exclusive-tbl) th:nth-child(1),
.transitional-tbl:not(.exclusive-tbl) th:nth-child(1),
.main-tbl:not(.exclusive-tbl) th:nth-child(1),
.secondary-tbl:not(.exclusive-tbl) th:nth-child(1) {
  width: 20%;
}

.gear-tbl {
  margin-top: 10px;
  width: 320px;
}
.gear-tbl .tooltip {
  transform: translateY(-100px);
}
.gear-tbl .tooltip input {
  height: 100px;
}
.gear-tbl tr:not(thead tr) {
  height: 80px;
}
.gear-tbl span {
  transform: translateY(-2px);
}
.gear-tbl .pic {
  width: 80px;
  height: 80px;
}

.pic {
  background: center/cover;
  cursor: pointer;
}

.tooltip {
  width: 100%;
  height: 100%;
}
.tooltip p {
  transform: translateY(18px);
  height: 25px;
}
.tooltip span {
  visibility: hidden;
  text-align: center;
  white-space: nowrap;
  background-color: rgb(34, 34, 34);
  padding: 5px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
  border-radius: 6px;
  opacity: 0;
  transition: opacity 0.2s;
}
.tooltip input {
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}
.tooltip input:checked + span {
  visibility: visible;
  opacity: 1;
}

.notes {
  margin: 20px 0 20px 0;
  padding: 20px;
  width: 85%;
  font-size: 14px;
  line-height: 20px;
}
.notes:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}
.notes p {
  font-weight: bold;
}
.notes span {
  font-style: italic;
}

/* banner images, offsets, and name sizes */
#aka {
  background-image: url("../img/valks/Argent_Knight_Artemis.webp");
}
#aka.desktop-pos {
  background-position: 57%;
}
#aka.mobile-pos {
  transform-origin: top center;
  transform: scale(14) translate(30.4%, -18%);
}
#aka ~ .main-name > .desktop {
  font-size: 20px;
}
#aka ~ .main-name > .mobile {
  font-size: 7vw;
}

#bke {
  background-image: url("../img/valks/Bright_Knight_Excelsis.webp");
}
#bke.desktop-pos {
  background-position: 50%;
}
#bke.mobile-pos {
  transform-origin: top center;
  transform: scale(16) translate(33.5%, -16%);
}
#bke ~ .main-name > .desktop {
  font-size: 20px;
}
#bke ~ .main-name > .mobile {
  font-size: 7vw;
}

#carole {
  background-image: url("../img/valks/Sweet_n_Spicy.webp");
}
#carole.desktop-pos {
  background-position: 51.4%;
}
#carole.mobile-pos {
  transform-origin: top center;
  transform: scale(13) translate(40.1%, -16%);
}
#carole ~ .main-name > .desktop {
  font-size: 35px;
}
#carole ~ .main-name > .mobile {
  font-size: 7vw;
}

#da {
  background-image: url("../img/valks/Dea_Anchora.webp");
}
#da.desktop-pos {
  background-position: 52.7%;
}
#da.mobile-pos {
  transform-origin: top center;
  transform: scale(15) translate(31.63%, -16%);
}
#da ~ .main-name > .desktop {
  font-size: 35px;
}
#da ~ .main-name > .mobile {
  font-size: 9vw;
}

#dip {
  background-image: url("../img/valks/Disciplinary_Perdition.webp");
}
#dip.desktop-pos {
  background-position: 55.3%;
}
#dip.mobile-pos {
  transform-origin: top center;
  transform: scale(15) translate(30.2%, -18%);
}
#dip ~ .main-name > .desktop {
  font-size: 20px;
}
#dip ~ .main-name > .mobile {
  font-size: 7vw;
}

#ede {
  background-image: url("../img/valks/Golden_Diva.webp");
}
#ede.desktop-pos {
  background-position: 52.5%;
}
#ede.mobile-pos {
  transform-origin: top center;
  transform: scale(15) translate(36%, -17%);
}
#ede ~ .main-name > .desktop {
  font-size: 35px;
}
#ede ~ .main-name > .mobile {
  font-size: 9vw;
}

#elysia {
  background-image: url("../img/valks/Miss_Pink_Elf.webp");
}
#elysia.desktop-pos {
  background-position: 52%;
}
#elysia.mobile-pos {
  transform-origin: top center;
  transform: scale(14) translate(30.2%, -15%);
}
#elysia ~ .main-name > .desktop {
  font-size: 30px;
}
#elysia ~ .main-name > .mobile {
  font-size: 8vw;
}

#fr {
  background-image: url("../img/valks/Fallen_Rosemary.webp");
}
#fr.desktop-pos {
  background-position: 56.2%;
}
#fr.mobile-pos {
  transform-origin: top center;
  transform: scale(14) translate(28%, -19%);
}
#fr ~ .main-name > .desktop {
  font-size: 28px;
}
#fr ~ .main-name > .mobile {
  font-size: 6vw;
}

#ft {
  background-image: url("../img/valks/Fervent_Tempo.webp");
}
#ft.desktop-pos {
  background-position: 39.6%;
}
#ft.mobile-pos {
  transform-origin: top center;
  transform: scale(10) translate(37%, -14.5%);
}
#ft ~ .main-name > .desktop {
  font-size: 32px;
}
#ft ~ .main-name > .mobile {
  font-size: 7vw;
}

#fischl {
  background-image: url("../img/valks/Prinzessin_der_Verurteilung.webp");
}
#fischl.desktop-pos {
  background-position: 57%;
}
#fischl.mobile-pos {
  transform-origin: top center;
  transform: scale(13) translate(34%, -15%);
}
#fischl ~ .main-name > .desktop {
  font-size: 16px;
}
#fischl ~ .main-name > .mobile {
  font-size: 7vw;
}

#gm {
  background-image: url("../img/valks/Goushinnso_Memento.webp");
}
#gm.desktop-pos {
  background-position: 44%;
}
#gm.mobile-pos {
  transform-origin: top center;
  transform: scale(16) translate(40.4%, -16.3%);
}
#gm ~ .main-name > .desktop {
  font-size: 28px;
}
#gm ~ .main-name > .mobile {
  font-size: 7vw;
}

#hc {
  background-image: url("../img/valks/Helical_Contraption.webp");
}
#hc.desktop-pos {
  background-position: 55.7%;
}
#hc.mobile-pos {
  transform-origin: top center;
  transform: scale(14) translate(34.4%, -16.4%);
}
#hc ~ .main-name > .desktop {
  font-size: 24px;
}
#hc ~ .main-name > .mobile {
  font-size: 7vw;
}

#hofs {
  background-image: url("../img/valks/Herrscher_of_Flamescion.webp");
}
#hofs.desktop-pos {
  background-position: 53.7%;
}
#hofs.mobile-pos {
  transform-origin: top center;
  transform: scale(15) translate(28.9%, -16.7%);
}
#hofs ~ .main-name > .desktop {
  font-size: 20px;
}
#hofs ~ .main-name > .mobile {
  font-size: 7vw;
}

#hoh {
  background-image: url("../img/valks/Herrscher_of_Human_Ego.webp");
}
#hoh.desktop-pos {
  background-position: 53.9%;
}
#hoh.mobile-pos {
  transform-origin: top center;
  transform: scale(16) translate(28.8%, -14.8%);
}
#hoh ~ .main-name > .desktop {
  font-size: 20px;
}
#hoh ~ .main-name > .mobile {
  font-size: 7vw;
}

#hor {
  background-image: url("../img/valks/Herrscher_of_Reason.webp");
}
#hor.desktop-pos {
  background-position: 54.1%;
}
#hor.mobile-pos {
  transform-origin: top center;
  transform: scale(14) translate(36.9%, -17%);
}
#hor ~ .main-name > .desktop {
  font-size: 22px;
}
#hor ~ .main-name > .mobile {
  font-size: 7vw;
}

#hos {
  background-image: url("../img/valks/Herrscher_of_Sentience.webp");
}
#hos.desktop-pos {
  background-position: 51.2%;
}
#hos.mobile-pos {
  transform-origin: top center;
  transform: scale(14) translate(29.6%, -14%);
}
#hos ~ .main-name > .desktop {
  font-size: 20px;
}
#hos ~ .main-name > .mobile {
  font-size: 7vw;
}

#hot {
  background-image: url("../img/valks/Herrscher_of_Thunder.webp");
}
#hot.desktop-pos {
  background-position: 57%;
}
#hot.mobile-pos {
  transform-origin: top center;
  transform: scale(14) translate(27%, -15.1%);
}
#hot ~ .main-name > .desktop {
  font-size: 22px;
}
#hot ~ .main-name > .mobile {
  font-size: 7vw;
}

#hov {
  background-image: url("../img/valks/Herrscher_of_the_Void.webp");
}
#hov.desktop-pos {
  background-position: 46%;
}
#hov.mobile-pos {
  transform-origin: top center;
  transform: scale(16) translate(36.7%, -13.3%);
}
#hov ~ .main-name > .desktop {
  font-size: 20px;
}
#hov ~ .main-name > .mobile {
  font-size: 7vw;
}

#lk {
  background-image: url("../img/valks/Luna_Kindred.webp");
}
#lk.desktop-pos {
  background-position: 44.8%;
}
#lk.mobile-pos {
  transform-origin: top center;
  transform: scale(10) translate(35.4%, -14%);
}
#lk ~ .main-name > .desktop {
  font-size: 35px;
}
#lk ~ .main-name > .mobile {
  font-size: 8vw;
}

#mobius {
  background-image: url("../img/valks/Infinite_Ouroboros.webp");
}
#mobius.desktop-pos {
  background-position: 52.8%;
}
#mobius.mobile-pos {
  transform-origin: top center;
  transform: scale(14) translate(29%, -15.6%);
}
#mobius ~ .main-name > .desktop {
  font-size: 25px;
}
#mobius ~ .main-name > .mobile {
  font-size: 8vw;
}

#nyx {
  background-image: url("../img/valks/Starchasm_Nyx.webp");
}
#nyx.desktop-pos {
  background-position: 49.3%;
}
#nyx.mobile-pos {
  transform-origin: top center;
  transform: scale(13) translate(30.8%, -15.4%);
}
#nyx ~ .main-name > .desktop {
  font-size: 35px;
}
#nyx ~ .main-name > .mobile {
  font-size: 7vw;
}

#pe {
  background-image: url("../img/valks/Palatinus_Equinox.webp");
}
#pe.desktop-pos {
  background-position: 48.76%;
}
#pe.mobile-pos {
  transform-origin: top center;
  transform: scale(14) translate(30.5%, -11.6%);
}
#pe ~ .main-name > .desktop {
  font-size: 28px;
}
#pe ~ .main-name > .mobile {
  font-size: 8vw;
}

#raven {
  background-image: url("../img/valks/Midnight_Absinthe.webp");
}
#raven.desktop-pos {
  background-position: 53.4%;
}
#raven.mobile-pos {
  transform-origin: top center;
  transform: scale(14) translate(29.3%, -15.2%);
}
#raven ~ .main-name > .desktop {
  font-size: 25px;
}
#raven ~ .main-name > .mobile {
  font-size: 8vw;
}

#rc {
  background-image: url("../img/valks/Reverist_Calico.webp");
}
#rc.desktop-pos {
  background-position: 56.4%;
}
#rc.mobile-pos {
  transform-origin: top center;
  transform: scale(13) translate(28%, -17%);
}
#rc ~ .main-name > .desktop {
  font-size: 30px;
}
#rc ~ .main-name > .mobile {
  font-size: 8vw;
}

#ri {
  background-image: url("../img/valks/Ritual_Imayoh.webp");
}
#ri.desktop-pos {
  background-position: 55%;
}
#ri.mobile-pos {
  transform-origin: top center;
  transform: scale(10) translate(34%, -11.2%);
}
#ri ~ .main-name > .desktop {
  font-size: 35px;
}
#ri ~ .main-name > .mobile {
  font-size: 8vw;
}

#si {
  background-image: url("../img/valks/Starry_Impression.webp");
}
#si.desktop-pos {
  background-position: 46.2%;
}
#si.mobile-pos {
  transform-origin: top center;
  transform: scale(14) translate(33%, -15.9%);
}
#si ~ .main-name > .desktop {
  font-size: 28px;
}
#si ~ .main-name > .mobile {
  font-size: 6vw;
}

#sn {
  background-image: url("../img/valks/Stygian_Nymph.webp");
}
#sn.desktop-pos {
  background-position: 44.6%;
}
#sn.mobile-pos {
  transform-origin: top center;
  transform: scale(12) translate(31.2%, -16.8%);
}
#sn ~ .main-name > .desktop {
  font-size: 32px;
}
#sn ~ .main-name > .mobile {
  font-size: 7vw;
}

#spa {
  background-image: url("../img/valks/Spina_Astera.webp");
}
#spa.desktop-pos {
  background-position: 49.5%;
}
#spa.mobile-pos {
  transform-origin: top center;
  transform: scale(13) translate(30.4%, -15%);
}
#spa ~ .main-name > .desktop {
  font-size: 35px;
}
#spa ~ .main-name > .mobile {
  font-size: 9vw;
}

#stfu {
  background-image: url("../img/valks/Striker_Fulminata.webp");
}
#stfu.desktop-pos {
  background-position: 61.8%;
}
#stfu.mobile-pos {
  transform-origin: top center;
  transform: scale(16) translate(39.2%, -16.8%);
}
#stfu ~ .main-name > .desktop {
  font-size: 22px;
}
#stfu ~ .main-name > .mobile {
  font-size: 7vw;
}

#sw {
  background-image: url("../img/valks/Silverwing_N-EX.webp");
}
#sw.desktop-pos {
  background-position: 58.3%;
}
#sw.mobile-pos {
  transform-origin: top center;
  transform: scale(14) translate(33.9%, -16.7%);
}
#sw ~ .main-name > .desktop {
  font-size: 30px;
}
#sw ~ .main-name > .mobile {
  font-size: 8vw;
}

#tp {
  background-image: url("../img/valks/Twilight_Paladin.webp");
}
#tp.desktop-pos {
  background-position: 47.18%;
}
#tp.mobile-pos {
  transform-origin: top center;
  transform: scale(11) translate(35.2%, -15.3%);
}
#tp ~ .main-name > .desktop {
  font-size: 30px;
}
#tp ~ .main-name > .mobile {
  font-size: 6vw;
}

#vg {
  background-image: url("../img/valks/Valkyrie_Gloria.webp");
}
#vg.desktop-pos {
  background-position: 50%;
}
#vg.mobile-pos {
  transform-origin: top center;
  transform: scale(15) translate(34.2%, -16%);
}
#vg ~ .main-name > .desktop {
  font-size: 30px;
}
#vg ~ .main-name > .mobile {
  font-size: 7vw;
}

/* signet imaages */
.aponia {
  background-image: url("../img/signets/Aponia_Signet.webp");
}

.eden {
  background-image: url("../img/signets/Eden_Signet.webp");
}

.griseo {
  background-image: url("../img/signets/Griseo_Signet.webp");
}

.hua {
  background-image: url("../img/signets/Hua_Signet.webp");
}

.kalpas {
  background-image: url("../img/signets/Kalpas_Signet.webp");
}

.kevin {
  background-image: url("../img/signets/Kevin_Signet.webp");
}

.kosma {
  background-image: url("../img/signets/Kosma_Signet.webp");
}

.mobius {
  background-image: url("../img/signets/Mobius_Signet.webp");
}

.pardofelis {
  background-image: url("../img/signets/Pardofelis_Signet.webp");
}

.sakura {
  background-image: url("../img/signets/Sakura_Signet.webp");
}

.su {
  background-image: url("../img/signets/Su_Signet.webp");
}

.vill-v {
  background-image: url("../img/signets/Vill-V_Signet.webp");
}

/* emblem images */
.boy {
  background-image: url("../img/emblems/Because_of_You.webp");
}

.bl {
  background-image: url("../img/emblems/Boundless_Logos.webp");
}

.b {
  background-image: url("../img/emblems/Burden.webp");
}

.dg {
  background-image: url("../img/emblems/Dreamful_Gold.webp");
}

.els {
  background-image: url("../img/emblems/Empty_Like_Shala.webp");
}

.fas {
  background-image: url("../img/emblems/Faraway_Ship.webp");
}

.fipl {
  background-image: url("../img/emblems/Falling_in_Past_Light.webp");
}

.ff {
  background-image: url("../img/emblems/Fragile_Friend.webp");
}

.foe {
  background-image: url("../img/emblems/Feast_of_Emptiness.webp");
}

.fos {
  background-image: url("../img/emblems/Forbidden_Seed.webp");
}

.fmt {
  background-image: url("../img/emblems/Forget_Me_Not.webp");
}

.gg {
  background-image: url("../img/emblems/Gold_Goblet.webp");
}

.god {
  background-image: url("../img/emblems/Good_Old_Days.webp");
}

.gsr {
  background-image: url("../img/emblems/Grey_Scale_Rainbow.webp");
}

.h {
  background-image: url("../img/emblems/Hometown.webp");
}

.haaml {
  background-image: url("../img/emblems/Heavy_as_a_Million_Lives.webp");
}

.hl {
  background-image: url("../img/emblems/Home_Lost.webp");
}

.iwbw {
  background-image: url("../img/emblems/It_Will_Be_Written.webp");
}

.kttd {
  background-image: url("../img/emblems/Key_to_the_Deep.webp");
}

.laabl {
  background-image: url("../img/emblems/Light_as_a_Bodhi_Leaf.webp");
}

.mkm {
  background-image: url("../img/emblems/Mad_Kings_Mask.webp");
}

.m {
  background-image: url("../img/emblems/Memory.webp");
}

.oor {
  background-image: url("../img/emblems/Out_of_Reach.webp");
}

.pm {
  background-image: url("../img/emblems/Pseudo_Miracle.webp");
}

.pogae {
  background-image: url("../img/emblems/Proof_of_Good_and_Evil.webp");
}

.r {
  background-image: url("../img/emblems/Resolve.webp");
}

.rl {
  background-image: url("../img/emblems/Ruined_Legacy.webp");
}

.roa {
  background-image: url("../img/emblems/Rainbow_of_Absence.webp");
}

.sts {
  background-image: url("../img/emblems/Stained_Sakura.webp");
}

.tc {
  background-image: url("../img/emblems/Thorny_Crown.webp");
}

.tf {
  background-image: url("../img/emblems/Tin_Flask.webp");
}

.tfs {
  background-image: url("../img/emblems/The_First_Scale.webp");
}

.th {
  background-image: url("../img/emblems/Tsukimi_Himiko.webp");
}

.tlm {
  background-image: url("../img/emblems/The_Lonely_Moon.webp");
}

.vot {
  background-image: url("../img/emblems/Veil_of_Tears.webp");
}

/* support valk images */
.ae {
  background-image: url("../img/avatars/Azure_Empyrea_Avatar.webp");
}

.bke {
  background-image: url("../img/avatars/Bright_Knight_Excelsis_Avatar.webp");
}

.br {
  background-image: url("../img/avatars/Blood_Rose_Avatar.webp");
}

.dp {
  background-image: url("../img/avatars/Divine_Prayer_Avatar.webp");
}

.hb {
  background-image: url("../img/avatars/Haxxor_Bunny_Avatar.webp");
}

.le {
  background-image: url("../img/avatars/Lightning_Empress_Avatar.webp");
}

.ma {
  background-image: url("../img/avatars/Midnight_Absinthe_Avatar.webp");
}

.rc {
  background-image: url("../img/avatars/Reverist_Calico_Avatar.webp");
}

.sa {
  background-image: url("../img/avatars/Starlit_Astrologos_Avatar.webp");
}

.sn {
  background-image: url("../img/avatars/Stygian_Nymph_Avatar.webp");
}

.ss {
  background-image: url("../img/avatars/Snowy_Sniper_Avatar.webp");
}

.vc {
  background-image: url("../img/avatars/Valkyrie_Chariot_Avatar.webp");
}

.hawp {
  background-image: url("../img/weapons/0_high_atk_weap.webp");
}

.abfl {
  background-image: url("../img/weapons/Abyss_Flower_Liminal_Spiral.webp");
}

.asdi {
  background-image: url("../img/weapons/Astral_Divide_Pisces.webp");
}

.baim {
  background-image: url("../img/weapons/Basilisks_Image_Deathshroud.webp");
}

.dabr {
  background-image: url("../img/weapons/Dawn_Breaker_Talwar.webp");
}

.doeg {
  background-image: url("../img/weapons/Domain_of_Ego_Flawless_Return.webp");
}

.doin {
  background-image: url("../img/weapons/Domain_of_Incandescence.webp");
}

.dore {
  background-image: url("../img/weapons/Domain_of_Revelation.webp");
}

.dosa {
  background-image: url("../img/weapons/Domain_of_Sanction.webp");
}

.dose {
  background-image: url("../img/weapons/Domain_of_Sentience.webp");
}

.dovo {
  background-image: url("../img/weapons/Domain_of_the_Void.webp");
}

.ecpa {
  background-image: url("../img/weapons/Echo_of_Paradise.webp");
}

.elas {
  background-image: url("../img/weapons/Elysian_Astra_Hearts_Color.webp");
}

.eogl {
  background-image: url("../img/weapons/Eos_Gloria.webp");
}

.fafl {
  background-image: url("../img/weapons/Falcon_Flare_FINAL.webp");
}

.frna {
  background-image: url("../img/weapons/Frozen_Naraka.webp");
}

.heso {
  background-image: url("../img/weapons/Hekates_Sombre.webp");
}

.irhe {
  background-image: url("../img/weapons/Iris_of_Helheim.webp");
}

.kevo {
  background-image: url("../img/weapons/Keys_of_the_Void.webp");
}

.loco {
  background-image: url("../img/weapons/Lost_Conviction_Damnation.webp");
}

.miat {
  background-image: url("../img/weapons/Midnight_Ataegina.webp");
}

.miki {
  background-image: url("../img/weapons/Miracle_Kissy_Pillow.webp");
}

.miwa {
  background-image: url("../img/weapons/Mitternachts_Waltz.webp");
}

.mubl {
  background-image: url("../img/weapons/Muramasa_Bloodlust.webp");
}

.paac {
  background-image: url("../img/weapons/Path_to_Acheron_Kindred.webp");
}

.obdo {
  background-image: url("../img/weapons/Oblivion_Down.webp");
}

.obwi {
  background-image: url("../img/weapons/Obscuring_Wing.webp");
}

.pobl {
  background-image: url("../img/weapons/Positron_Blasters.webp");
}

.puph {
  background-image: url("../img/weapons/Purana_Phantasma.webp");
}

.saas {
  background-image: url("../img/weapons/Sagittarius_Astra.webp");
}

.saga {
  background-image: url("../img/weapons/Sanguine_Gaze_Union.webp");
}

.sena {
  background-image: url("../img/weapons/Seven_Thunders_of_Retribution_Narukami.webp");
}

.seru {
  background-image: url("../img/weapons/Seven_Thunders_of_Retribution_Rumble.webp");
}

.skth {
  background-image: url("../img/weapons/Skadi_of_Thrymheim.webp");
}

.sldr {
  background-image: url("../img/weapons/Sleepers_Dream.webp");
}

.thsa {
  background-image: url("../img/weapons/3rd_Sacred_Relic.webp");
}

.topa {
  background-image: url("../img/weapons/Tower_of_the_Past_Silk_Ladder.webp");
}

.whpa {
  background-image: url("../img/weapons/Whisper_of_the_Past_Sonnet.webp");
}

/* stigmata images */
.allt {
  background-image: url("../img/stigmatas/Allan_Poe_T.webp");
}

.allm {
  background-image: url("../img/stigmatas/Allan_Poe_M.webp");
}

.allb {
  background-image: url("../img/stigmatas/Allan_Poe_B.webp");
}

.anat {
  background-image: url("../img/stigmatas/Ana_Schariac_T.webp");
}

.anam {
  background-image: url("../img/stigmatas/Ana_Schariac_M.webp");
}

.anab {
  background-image: url("../img/stigmatas/Ana_Schariac_B.webp");
}

.aslt {
  background-image: url("../img/stigmatas/Aslaug_T.webp");
}

.aslm {
  background-image: url("../img/stigmatas/Aslaug_M.webp");
}

.aslb {
  background-image: url("../img/stigmatas/Aslaug_B.webp");
}

.bast {
  background-image: url("../img/stigmatas/Bastet_T.webp");
}

.basm {
  background-image: url("../img/stigmatas/Bastet_M.webp");
}

.basb {
  background-image: url("../img/stigmatas/Bastet_B.webp");
}

.bent {
  background-image: url("../img/stigmatas/Benares_Awakening_T.webp");
}

.benm {
  background-image: url("../img/stigmatas/Benares_Awakening_M.webp");
}

.benb {
  background-image: url("../img/stigmatas/Benares_Awakening_B.webp");
}

.biat {
  background-image: url("../img/stigmatas/Bianka_Theatre_T.webp");
}

.biam {
  background-image: url("../img/stigmatas/Bianka_Theatre_M.webp");
}

.biab {
  background-image: url("../img/stigmatas/Bianka_Theatre_B.webp");
}

.brot {
  background-image: url("../img/stigmatas/Bronya_N-EX_T.webp");
}

.brom {
  background-image: url("../img/stigmatas/Bronya_N-EX_M.webp");
}

.brob {
  background-image: url("../img/stigmatas/Bronya_N-EX_B.webp");
}

.cart {
  background-image: url("../img/stigmatas/Carlo_Collodi_T.webp");
}

.carm {
  background-image: url("../img/stigmatas/Carlo_Collodi_M.webp");
}

.carb {
  background-image: url("../img/stigmatas/Carlo_Collodi_B.webp");
}

.cezt {
  background-image: url("../img/stigmatas/Cezanne_T.webp");
}

.cezm {
  background-image: url("../img/stigmatas/Cezanne_M.webp");
}

.cezb {
  background-image: url("../img/stigmatas/Cezanne_B.webp");
}

.dant {
  background-image: url("../img/stigmatas/Dante_T.webp");
}

.danm {
  background-image: url("../img/stigmatas/Dante_M.webp");
}

.danb {
  background-image: url("../img/stigmatas/Dante_B.webp");
}

.dirt {
  background-image: url("../img/stigmatas/Dirac_T.webp");
}

.dirm {
  background-image: url("../img/stigmatas/Dirac_M.webp");
}

.dirb {
  background-image: url("../img/stigmatas/Dirac_B.webp");
}

.drat {
  background-image: url("../img/stigmatas/Dracula_T.webp");
}

.dram {
  background-image: url("../img/stigmatas/Dracula_M.webp");
}

.drab {
  background-image: url("../img/stigmatas/Dracula_B.webp");
}

.elpt {
  background-image: url("../img/stigmatas/Elysia_Pristine_T.webp");
}

.elpm {
  background-image: url("../img/stigmatas/Elysia_Pristine_M.webp");
}

.elpb {
  background-image: url("../img/stigmatas/Elysia_Pristine_B.webp");
}

.elyt {
  background-image: url("../img/stigmatas/Elysia_T.webp");
}

.elym {
  background-image: url("../img/stigmatas/Elysia_M.webp");
}

.elyb {
  background-image: url("../img/stigmatas/Elysia_B.webp");
}

.hant {
  background-image: url("../img/stigmatas/Handel_T.webp");
}

.hanm {
  background-image: url("../img/stigmatas/Handel_M.webp");
}

.hanb {
  background-image: url("../img/stigmatas/Handel_B.webp");
}

.iret {
  background-image: url("../img/stigmatas/Irene_Adler_T.webp");
}

.irem {
  background-image: url("../img/stigmatas/Irene_Adler_M.webp");
}

.ireb {
  background-image: url("../img/stigmatas/Irene_Adler_B.webp");
}

.kaft {
  background-image: url("../img/stigmatas/Kafka_T.webp");
}

.kafm {
  background-image: url("../img/stigmatas/Kafka_M.webp");
}

.kafb {
  background-image: url("../img/stigmatas/Kafka_B.webp");
}

.leet {
  background-image: url("../img/stigmatas/Leeuwenhoek_T.webp");
}

.leeb {
  background-image: url("../img/stigmatas/Leeuwenhoek_B.webp");
}

.lint {
  background-image: url("../img/stigmatas/Linnaeus_T.webp");
}

.linm {
  background-image: url("../img/stigmatas/Linnaeus_M.webp");
}

.linb {
  background-image: url("../img/stigmatas/Linnaeus_B.webp");
}

.marm {
  background-image: url("../img/stigmatas/Marco_Polo_M.webp");
}

.mict {
  background-image: url("../img/stigmatas/Michelangelo_T.webp");
}

.micb {
  background-image: url("../img/stigmatas/Michelangelo_B.webp");
}

.murt {
  background-image: url("../img/stigmatas/Murata_Himeko_T.webp");
}

.murm {
  background-image: url("../img/stigmatas/Murata_Himeko_M.webp");
}

.murb {
  background-image: url("../img/stigmatas/Murata_Himeko_B.webp");
}

.pagt {
  background-image: url("../img/stigmatas/Paganini_T.webp");
}

.pagm {
  background-image: url("../img/stigmatas/Paganini_M.webp");
}

.pagb {
  background-image: url("../img/stigmatas/Paganini_B.webp");
}

.ragt {
  background-image: url("../img/stigmatas/Ragna_T.webp");
}

.ragm {
  background-image: url("../img/stigmatas/Ragna_M.webp");
}

.ragb {
  background-image: url("../img/stigmatas/Ragna_B.webp");
}

.rebt {
  background-image: url("../img/stigmatas/Mei_Spectramancer_T.webp");
}

.rebb {
  background-image: url("../img/stigmatas/Fu_Hua_Onyx_Simurgh_B.webp");
}

.robt {
  background-image: url("../img/stigmatas/Robert_Peary_T.webp");
}

.robm {
  background-image: url("../img/stigmatas/Robert_Peary_M.webp");
}

.robb {
  background-image: url("../img/stigmatas/Robert_Peary_B.webp");
}

.shat {
  background-image: url("../img/stigmatas/Shakespeare_Adrift_T.webp");
}

.sham {
  background-image: url("../img/stigmatas/Shakespeare_Adrift_M.webp");
}

.shab {
  background-image: url("../img/stigmatas/Shakespeare_Adrift_B.webp");
}

.shst {
  background-image: url("../img/stigmatas/Raksha_T.webp");
}

.shsm {
  background-image: url("../img/stigmatas/Sushang_M.webp");
}

.shsb {
  background-image: url("../img/stigmatas/Empyrea_Phoenix_B.webp");
}

.siem {
  background-image: url("../img/stigmatas/Siegfried_Kaslana_M.webp");
}

.sirt {
  background-image: url("../img/stigmatas/Sirin_Ascendant_T.webp");
}

.sirm {
  background-image: url("../img/stigmatas/Sirin_Ascendant_M.webp");
}

.sirb {
  background-image: url("../img/stigmatas/Sirin_Ascendant_B.webp");
}

.tham {
  background-image: url("../img/stigmatas/Thales_M.webp");
}

.vert {
  background-image: url("../img/stigmatas/Verne_T.webp");
}

.verm {
  background-image: url("../img/stigmatas/Verne_M.webp");
}

.verb {
  background-image: url("../img/stigmatas/Verne_B.webp");
}

.want {
  background-image: url("../img/stigmatas/Wang_Zhenyi_T.webp");
}

.wanm {
  background-image: url("../img/stigmatas/Wang_Zhenyi_M.webp");
}

.wanb {
  background-image: url("../img/stigmatas/Wang_Zhenyi_B.webp");
}

.welt {
  background-image: url("../img/stigmatas/Welt_Yang_T.webp");
}

.welm {
  background-image: url("../img/stigmatas/Welt_Yang_M.webp");
}

.welb {
  background-image: url("../img/stigmatas/Welt_Yang_B.webp");
}

.zent {
  background-image: url("../img/stigmatas/Zeno_T.webp");
}

.zenm {
  background-image: url("../img/stigmatas/Zeno_M.webp");
}

.zenb {
  background-image: url("../img/stigmatas/Zeno_B.webp");
}

#guide-container {
  width: 100%;
  height: 100%;
  position: fixed;
}
#guide-container::before {
  content: "";
  position: absolute;
  z-index: 1;
  opacity: 0;
  width: 100%;
  height: 5px;
}
#guide-container::after {
  content: "";
  position: absolute;
  z-index: 1;
  opacity: 0;
  width: 100%;
  height: 3em;
  background-image: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0.8) 40%, transparent 100%);
}

.bg-fade-in {
  -webkit-animation: bgfadein 0.5s forwards;
          animation: bgfadein 0.5s forwards;
}

.bg-fade-out {
  -webkit-animation: bgfadeout 0.5s forwards;
          animation: bgfadeout 0.5s forwards;
}

@-webkit-keyframes bgfadein {
  from {
    background-color: transparent;
  }
  to {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

@keyframes bgfadein {
  from {
    background-color: transparent;
  }
  to {
    background-color: rgba(0, 0, 0, 0.3);
  }
}
@-webkit-keyframes bgfadeout {
  from {
    background-color: rgba(0, 0, 0, 0.3);
  }
  to {
    background-color: transparent;
  }
}
@keyframes bgfadeout {
  from {
    background-color: rgba(0, 0, 0, 0.3);
  }
  to {
    background-color: transparent;
  }
}
.guide-content {
  scrollbar-width: none !important;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: 0.3s ease;
  position: fixed;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
}
.guide-content ::-webkit-scrollbar {
  display: none;
}
.guide-content.mobile {
  width: 100%;
  height: calc(100% - 25vw);
  transform: translateX(-50%);
}
.guide-content.mobile.upper {
  margin-top: 25vw;
}
.guide-content.desktop {
  width: 600px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  transform: translate(-50%, 15%);
}

@media only screen and (min-height: 950px) {
  .guide-content.desktop {
    height: 800px;
  }
}
@media only screen and (max-height: 949px) {
  .guide-content.desktop {
    height: calc(100vh - 15px);
  }
}
/* desktop (innerHeight >= 950px) */
.guide-entry-desktop-n {
  -webkit-animation: guideentrydesktopn 0.6s forwards;
          animation: guideentrydesktopn 0.6s forwards;
}

@-webkit-keyframes guideentrydesktopn {
  from {
    transform: translate(-50%, -100px);
    opacity: 0;
  }
  to {
    transform: translate(-50%, 15%);
    opacity: 1;
  }
}

@keyframes guideentrydesktopn {
  from {
    transform: translate(-50%, -100px);
    opacity: 0;
  }
  to {
    transform: translate(-50%, 15%);
    opacity: 1;
  }
}
.guide-exit-desktop-n {
  -webkit-animation: guideexitdesktopn 0.6s forwards;
          animation: guideexitdesktopn 0.6s forwards;
}

@-webkit-keyframes guideexitdesktopn {
  from {
    transform: translate(-50%, 15%);
    opacity: 1;
  }
  to {
    transform: translate(-50%, -100px);
    opacity: 0;
  }
}

@keyframes guideexitdesktopn {
  from {
    transform: translate(-50%, 15%);
    opacity: 1;
  }
  to {
    transform: translate(-50%, -100px);
    opacity: 0;
  }
}
/* desktop (innerHeight <= 949px) */
.guide-entry-desktop-s {
  -webkit-animation: guideentrydesktops 0.6s forwards;
          animation: guideentrydesktops 0.6s forwards;
}

@-webkit-keyframes guideentrydesktops {
  from {
    transform: translate(-50%, -100px);
    opacity: 0;
  }
  to {
    transform: translate(-50%, 5px);
    opacity: 1;
  }
}

@keyframes guideentrydesktops {
  from {
    transform: translate(-50%, -100px);
    opacity: 0;
  }
  to {
    transform: translate(-50%, 5px);
    opacity: 1;
  }
}
.guide-exit-desktop-s {
  -webkit-animation: guideexitdesktops 0.6s forwards;
          animation: guideexitdesktops 0.6s forwards;
}

@-webkit-keyframes guideexitdesktops {
  from {
    transform: translate(-50%, 5px);
    opacity: 1;
  }
  to {
    transform: translate(-50%, -100px);
    opacity: 0;
  }
}

@keyframes guideexitdesktops {
  from {
    transform: translate(-50%, 5px);
    opacity: 1;
  }
  to {
    transform: translate(-50%, -100px);
    opacity: 0;
  }
}
/* mobile */
.guide-top-entry-mobile {
  -webkit-animation: guideopenentrymobile 0.6s ease-out forwards;
          animation: guideopenentrymobile 0.6s ease-out forwards;
}

@-webkit-keyframes guideopenentrymobile {
  from {
    transform: translate(-50%, -100px);
    opacity: 0;
  }
  to {
    transform: translateX(-50%);
    opacity: 1;
  }
}

@keyframes guideopenentrymobile {
  from {
    transform: translate(-50%, -100px);
    opacity: 0;
  }
  to {
    transform: translateX(-50%);
    opacity: 1;
  }
}
.guide-top-exit-mobile {
  -webkit-animation: guideopenexitmobile 0.5s ease-in forwards;
          animation: guideopenexitmobile 0.5s ease-in forwards;
}

@-webkit-keyframes guideopenexitmobile {
  from {
    transform: translateX(-50%);
    opacity: 1;
  }
  to {
    transform: translate(-50%, -100px);
    opacity: 0;
  }
}

@keyframes guideopenexitmobile {
  from {
    transform: translateX(-50%);
    opacity: 1;
  }
  to {
    transform: translate(-50%, -100px);
    opacity: 0;
  }
}
.guide-bot-entry-mobile {
  -webkit-animation: guidebotentrymobile 0.6s ease-out forwards;
          animation: guidebotentrymobile 0.6s ease-out forwards;
}

@-webkit-keyframes guidebotentrymobile {
  from {
    transform: translate(-50%, 100px);
    opacity: 0;
  }
  to {
    transform: translateX(-50%);
    opacity: 1;
  }
}

@keyframes guidebotentrymobile {
  from {
    transform: translate(-50%, 100px);
    opacity: 0;
  }
  to {
    transform: translateX(-50%);
    opacity: 1;
  }
}
.guide-bot-exit-mobile {
  -webkit-animation: guidebotexitmobile 0.5s ease-in forwards;
          animation: guidebotexitmobile 0.5s ease-in forwards;
}

@-webkit-keyframes guidebotexitmobile {
  from {
    transform: translateX(-50%);
    opacity: 1;
  }
  to {
    transform: translate(-50%, 100px);
    opacity: 0;
  }
}

@keyframes guidebotexitmobile {
  from {
    transform: translateX(-50%);
    opacity: 1;
  }
  to {
    transform: translate(-50%, 100px);
    opacity: 0;
  }
}
/* about page */
#about #container {
  background-color: rgba(0, 0, 0, 0.83);
  height: 100vh;
}
#about #sub-container {
  scrollbar-color: rgb(40, 40, 40) transparent !important;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  width: 600px;
  max-width: 90%;
  padding: 20px;
  overflow-y: auto;
}
#about #sub-container::-webkit-scrollbar-track {
  background-color: transparent;
}
#about .cell-center {
  width: 25px;
}
#about .sideways {
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  transform: rotate(180deg);
}
#about #timeline {
  max-width: 400px;
}
#about #timeline th:nth-child(1) {
  width: 10%;
}
#about h5 {
  font-size: 30px;
}
#about h6 {
  font-size: 24px;
}
#about p, #about li {
  line-height: 1.2;
}
#about table {
  margin: auto;
}
#about table td, #about table th {
  border: 1px solid rgba(255, 255, 255, 0.8);
}
#about table th {
  vertical-align: middle;
  font-size: unset;
  width: 20%;
}
#about hr, #about a {
  color: rgba(255, 255, 255, 0.8);
}

@media only screen and (max-width: 640px) {
  #sub-container {
    width: auto;
    height: unset;
    overflow-y: unset;
  }
  #about #container {
    height: initial;
  }
}
.flex {
  display: flex;
}

.fh-center {
  justify-content: center;
}

.fv-center {
  align-items: center;
}

.f-col {
  flex-direction: column;
}

.f-row {
  flex-direction: row;
}

.pos-abs {
  position: absolute;
}

.pos-rel {
  position: relative;
}

.overflow-hide {
  overflow: hidden;
}

.no-display {
  display: none !important;
}

.fade {
  -webkit-animation: fade 1s forwards;
          animation: fade 1s forwards;
}

@-webkit-keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.hidden {
  opacity: 0 !important;
}

/* desktop banner animaitons */
.fade-in-up {
  -webkit-animation: fadeinup 2s;
          animation: fadeinup 2s;
}

@-webkit-keyframes fadeinup {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fadeinup {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
.fade-in-down {
  -webkit-animation: fadeindown 2s;
          animation: fadeindown 2s;
}

@-webkit-keyframes fadeindown {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fadeindown {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
/* mobile banner animations */
.fade-in-left {
  -webkit-animation: fadeinleft 2s;
          animation: fadeinleft 2s;
}

@-webkit-keyframes fadeinleft {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fadeinleft {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
.fade-in-right {
  -webkit-animation: fadeinright 2s;
          animation: fadeinright 2s;
}

@-webkit-keyframes fadeinright {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fadeinright {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
.table-cell-hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}

.noted {
  background-color: rgba(70, 70, 70, 0.5);
}

body {
  background: url("../img/bg.webp") no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.8);
}

header {
  background-color: rgba(0, 0, 0, 0.83);
  flex-grow: 1;
}
header * {
  -webkit-animation: headeranim 5s;
          animation: headeranim 5s;
}
header p {
  margin: 20px 0 10px 0;
  font-style: italic;
}
header a {
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
}

@media only screen and (max-height: 1100px) {
  header {
    padding: 20px 0 20px 0;
  }
}
@-webkit-keyframes headeranim {
  from {
    color: transparent;
  }
  to {
    color: rgba(255, 255, 255, 0.8);
  }
}
@keyframes headeranim {
  from {
    color: transparent;
  }
  to {
    color: rgba(255, 255, 255, 0.8);
  }
}
main {
  background-color: rgba(0, 0, 0, 0.83);
}

footer {
  background-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.75));
  flex-grow: 2;
}

h1 {
  font-size: 4em;
  text-align: center;
  letter-spacing: 10px;
  text-transform: uppercase;
}

h2 {
  font-size: 40px;
  text-align: center;
  margin: 10px 0 0 0;
  letter-spacing: 3px;
}

h3 {
  font-size: 30px;
  text-align: center;
  margin: 20px 0 0 0;
  line-height: 40px;
}

td, th, #about table th {
  background: center/cover;
  text-align: center;
  vertical-align: middle;
}

th {
  font-size: 20px;
}

tr {
  height: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

tr:last-child:not(thead tr) {
  border-bottom: unset;
}

#close {
  visibility: hidden;
  position: fixed;
  cursor: pointer;
  border: none;
  z-index: 1;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
}
#close .material-icons {
  font-size: 35px;
}
#close:hover {
  color: rgba(255, 255, 255, 0.8);
}

#goToTop {
  visibility: hidden;
  position: fixed;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: rgb(60, 60, 60);
  color: rgba(255, 255, 255, 0.8);
  width: 50px;
  height: 50px;
  padding: 5px 0 0 0;
}
#goToTop .material-icons {
  font-size: 35px;
}
#goToTop:hover {
  background-color: rgba(60, 60, 60, 0.8);
}

li {
  margin: 0 0 10px 15px;
  list-style: initial;
}

strong {
  font-weight: bold;
}/*# sourceMappingURL=styles.css.map */