@import 'partials/modules/variables';
@import 'partials/modules/mixins';

@import 'partials/scrollbar';
@import 'partials/cover';
@import 'partials/mainContainer';
@import 'partials/bannerImages';
@import 'partials/signetImages';
@import 'partials/emblemImages';
@import 'partials/suppImages';
@import 'partials/weapImages';
@import 'partials/stigImages';
@import 'partials/guide';
@import 'partials/about';

* {
	-webkit-user-select: none;
	user-select: none;
	&:focus {
		outline: none;
	}
}
.flex {
    display: flex;
}
.fh-center {
    justify-content: center;
}
.fv-center {
    align-items: center;
}
.f-col {
    flex-direction: column;
}
.f-row {
    flex-direction: row;
}
.pos-abs {
    position: absolute;
}
.pos-rel {
    position: relative;
}
.overflow-hide {
    overflow: hidden;
}
.no-display {
    display: none !important;
}
.fade {
    animation: fade 1s forwards;
}
@keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.hidden {
    opacity: 0 !important;
}
/* desktop banner animaitons */
@include animationPreset(fade-in-up, fadeinup, 2s, $bot, $banner-og, 0, 1);
@include animationPreset(fade-in-down, fadeindown, 2s, $top, $banner-og, 0, 1);
/* mobile banner animations */
@include animationPreset(fade-in-left, fadeinleft, 2s, $right, $banner-og, 0, 1);
@include animationPreset(fade-in-right, fadeinright, 2s, $left, $banner-og, 0, 1);
.table-cell-hover {
    background-color: $white;
    color: black;
}
.noted {
    background-color: rgba(70, 70, 70, 0.5);
}
body {
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    color: $white;
}
#bg {
	@include wh($w: 100vw, $h: 100vh);
	background-size: cover;
	position: fixed;
	z-index: -1;
}
.bg-dt {
	background: url('../img/bg-dt.png') center no-repeat;
}
.bg-mb {
	background: url('../img/bg-mb.png') center no-repeat;
}
header {
    background-color: $dark-tint;
    flex-grow: 1;
    * {
        animation: headeranim 5s;
    }
    p {
        @include margin($t: 20px, $b: 10px);
		font-family: 'Plus Jakarta Sans';
		font-style: italic;
    }
    a {
        color: $white;
		font-family: 'Plus Jakarta Sans';
        font-size: 12px;
    }
	a:hover {
		color: white;
	}
}
@media only screen and (max-height: 1100px) {
    header {
        @include padding($t: 20px, $b: 20px);
    }
}
@keyframes headeranim {
    from {
        color: transparent;
    }
    to {
        color: $white;
    }
}
main {
    background-color: $dark-tint;
}
footer {
    background-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.75));
    flex-grow: 2;
}
h1 {
    @include header(6em);
	font-family: 'Raleway';
	font-weight: 100;
    letter-spacing: 10px;
    text-transform: uppercase;
}
h2 {
    @include header(40px);
    @include margin($t: 10px);
    letter-spacing: 3px;
}
h3 {
    @include header(30px);
    @include margin($t: 20px);
    line-height: 40px;
}
td {
    background: center/cover;
    text-align: center;
    vertical-align: middle;
}
th {
    @extend td;
    font-size: 20px;
}
tr {
    height: 50px;
    border-bottom: 1px solid $white;
}
tr:last-child:not(thead tr) {
    border-bottom: unset;
}
#close {
    @include button;
    z-index: 1;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.6);

    &:hover {
        color: $white;
    }
}
#goToTop {
    @include button;
    @include darkButton;
    @include wh($w: 50px, $h: 50px);
    @include padding($t: 5px);
}
li {
    @include margin($b: 10px, $l: 15px);
    list-style: initial;
}
strong {
    font-weight: bold;
}